{%- comment -%}
  ---class_name: string
  ---show_img_tag: boolean
  ---show_transparent_tag: boolean
{%- endcomment -%}

{%- assign custom = false -%}

{%- for tag in product.tags -%}
  {%- if tag contains 'CustomPromotion' -%}
    {%- assign custom = true -%}
    {%- assign text = tag | split: '-' -%}
    {%- assign custom_tag = text[1] | strip -%}
    {%- break -%}
  {%- elsif tag == 'Flash Sale' or tag == 'flash sale' or tag =="flash deal limited" -%}
    {%- assign custom_tag = tag -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- comment -%}Flash Sale{%- endcomment -%}
{%- assign show_flash = false -%}
{%- for cust_tag in product.tags -%}
  {%- assign dow_tag = cust_tag |downcase -%}
  {%- if dow_tag contains 'flash sale' -%}
    {%- assign custom = true -%}
    {%- assign show_flash = true -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- comment -%} FSL 限购产品{%- endcomment -%}
{%- assign show_fsl = false -%}
{%- for cust_tag in product.tags -%}
  {%- assign dow_limit_tag = cust_tag |downcase -%}
  {%- if dow_limit_tag contains 'flash deal limited' -%}
    {%- assign custom = true -%}
    {%- assign show_flash = true -%}
    {%- assign show_fsl = true -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- comment -%}自定义活动标签{%- endcomment -%}
{%- if custom -%}
  {%- assign custome_tags = settings.custome_tag_ui | strip_html | split: ',' -%}


  {%- comment -%}------集合页标签图-------{%- endcomment -%}
  {%- if settings.tag_layout == 'label' -%}
    {%- assign imgtag_list = settings.activity_img_tag | strip_html | split: ',' -%}

    {%- for tag_str in imgtag_list -%}
      {%- assign tag_item = tag_str | strip | split: '=' -%}
      {%- assign custom_tag_url_name = tag_item[0] | downcase -%}
      {%- assign current_custom_tag_dow = custom_tag |downcase -%}

      {%- if current_custom_tag_dow contains custom_tag_url_name -%}
        {%- assign tag_url = tag_item[1] -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}

    {%- comment -%}----详情页活动链接-------{%- endcomment -%}
    {%- if show_img_tag -%}
      {%- assign inspect_tag = 'Buy 4 Get 20% Off,Buy 4 Get EXTRA 20% Off,Buy 4+ 20% Off' -%}
      {%- assign inspect_arr = inspect_tag | split: ',' -%}

      {%- assign CustomPromotionUrlList = settings.CustomPromotionUrl | strip_html | split: ',' -%}
      {%- for CustomPromotionUrItem in CustomPromotionUrlList -%}
        {%- assign CustomPromotionUrItemAll = CustomPromotionUrItem | split: '=' -%}
        {%- assign CustomPromotionUrItemName = CustomPromotionUrItemAll[0] | strip -%}
        {%- if CustomPromotionUrItemName == custom_tag -%}
          {%- assign CustomPromotionUrItemUrl = CustomPromotionUrItemAll[1] -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}

      {%- comment -%}Flash sale 产品{%- endcomment -%}
      {%- if show_flash -%}

        {%- if show_fsl -%}
            {%- comment -%}详情页 fsl 限购产品{%- endcomment -%}
            <a
              class="custom-activity-tag {{class_name}} flash-sale_link product-item__label_sale"
              style="position: relative;"
              data-type="flash-sale"
              href="https://www.hyfol.com/collections/series#1"
            >
              <div class="flash_sale">
                <svg
                  t="1666171152781"
                  class="icon "
                  viewBox="0 0 1024 1024"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  p-id="1906"
                  width="32"
                  height="32"
                >
                  <path d="M395.765333 586.570667h-171.733333c-22.421333 0-37.888-22.442667-29.909333-43.381334L364.768 95.274667A32 32 0 0 1 394.666667 74.666667h287.957333c22.72 0 38.208 23.018667 29.632 44.064l-99.36 243.882666h187.050667c27.509333 0 42.186667 32.426667 24.042666 53.098667l-458.602666 522.56c-22.293333 25.408-63.626667 3.392-54.976-29.28l85.354666-322.421333z" p-id="1907" data-spm-anchor-id="a313x.7781069.0.i4" class=""></path>
                </svg>
                Flash Sale
              </div>
              <div class="flash_sale_item">
                <span style=" flex: 1;">Limit 1 per Order {% render 'icon', icon: 'arrow-right' %}</span>

                <span class="button button--primary flash-sale_btn">VIEW MORE</span>
              </div>
            </a>

        {%- else -%}
          {%- comment -%}详情页 Flash Sale{%- endcomment -%}
          <a
            class="custom-activity-tag {{class_name}} flash-sale_link product-item__label_sale"
            style="position: relative;"
            data-type="flash-sale"
            href="https://www.hyfol.com/collections/flash-sale-1"
          >
            <div class="flash_sale">
              <svg
                t="1666171152781"
                class="icon "
                viewBox="0 0 1024 1024"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                p-id="1906"
                width="32"
                height="32"
              >
                <path d="M395.765333 586.570667h-171.733333c-22.421333 0-37.888-22.442667-29.909333-43.381334L364.768 95.274667A32 32 0 0 1 394.666667 74.666667h287.957333c22.72 0 38.208 23.018667 29.632 44.064l-99.36 243.882666h187.050667c27.509333 0 42.186667 32.426667 24.042666 53.098667l-458.602666 522.56c-22.293333 25.408-63.626667 3.392-54.976-29.28l85.354666-322.421333z" p-id="1907" data-spm-anchor-id="a313x.7781069.0.i4" class=""></path>
              </svg>
              Flash Sale
            </div>
            <div class="flash_sale_item">
              <span style=" flex: 1;">
                <span>Ends in </span><span class="sale_time_count"></span><span class="flash-sale_num"></span>
                {% render 'icon', icon: 'arrow-right' %}
              </span>
              <span class="button button--primary flash-sale_btn">VIEW MORE</span>
            </div>
          </a>
        {%- endif -%}

      {%- else -%}

        {%- comment -%}--------------TAG 背景图-----------------{%- endcomment -%}
        <a class="custom-activity-tag {{class_name}}" style="position: relative;" href="{{CustomPromotionUrItemUrl}}">
          {%- if inspect_arr contains custom_tag -%}
            <img
              class="activity-background-img"
              src="https://cdn.shopifycdn.net/s/files/1/0595/0691/7535/files/4_25_55ecdfdb-0b0f-4868-b58b-613cc5dffdb4.jpg?v=1671268817"
              alt="{{product.title}}"
            >
          {%- else -%}
            {%- if custom_tag == 'Choose 3 for $59' -%}
              <img
                class="activity-background-img"
                src="https://cdn.shopifycdn.net/s/files/1/0595/0691/7535/files/3_for_59_2ce884b6-24ef-46d5-a1fa-5bee29ee28d3.jpg?v=1671270758"
                alt="{{product.title}}"
              >
            {%- elsif custom_tag == 'Buy 1 get 2nd 50% OFF' -%}
              <img
                class="activity-background-img"
                src="https://cdn.shopifycdn.net/s/files/1/0595/0691/7535/files/2nd50_d7b07d41-9074-4900-bcac-7adb22dabd62.jpg?v=1671270758"
                alt="{{product.title}}"
              >
            {%- elsif custom_tag == 'Choose 4 for $49' -%}
              <img
                class="activity-background-img"
                src="https://cdn.shopify.com/s/files/1/0595/0691/7535/files/4_for_49.jpg?v=1671259391"
                alt="{{product.title}}"
              >
            {%- elsif custom_tag == 'Choose 3 for $75' -%}
              <img
                class="activity-background-img"
                src="https://cdn.shopify.com/s/files/1/0595/0691/7535/files/3for75.jpg?v=1667801847"
                alt="{{product.title}}"
              >
            {%- else -%}
              <img
                class="activity-background-img"
                src="https://cdn.shopify.com/s/files/1/0595/0691/7535/files/1_499b918d-2589-4803-bee0-6c020c20b326.jpg?v=1663814021"
                alt="{{product.title}}"
              >
              <div class="activity-text">{{ custom_tag }}</div>
            {%- endif -%}
          {%- endif -%}
        </a>
      {%- endif -%}

    {%- elsif show_fsl == 'none' -%}
      {%- comment -%}---------------产品列表 fsl-------------{%- endcomment -%}
      <div class="product-item__label_sale product-item__label-list">
        {%- if product.price < product.compare_at_price -%}
          <svg
            t="1666171152781"
            class="icon "
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            p-id="1906"
            width="32"
            height="32"
          >
            <path d="M395.765333 586.570667h-171.733333c-22.421333 0-37.888-22.442667-29.909333-43.381334L364.768 95.274667A32 32 0 0 1 394.666667 74.666667h287.957333c22.72 0 38.208 23.018667 29.632 44.064l-99.36 243.882666h187.050667c27.509333 0 42.186667 32.426667 24.042666 53.098667l-458.602666 522.56c-22.293333 25.408-63.626667 3.392-54.976-29.28l85.354666-322.421333z" p-id="1907" data-spm-anchor-id="a313x.7781069.0.i4" class=""></path>
          </svg>
          <br>
          {%- assign savings = product.compare_at_price  | minus: product.price | times: 100.0  | divided_by: product.compare_at_price  | round | append: '%' -%}
          <span class="on-flash-sale">-{{ savings }}</span>
        {%- endif -%}
      </div>

    {%- elsif tag_url != blank -%}
      {%- comment -%}透明背景活动TAG{%- endcomment -%}
      <div class="activity-img-ui {{class_name}}">
        <img src="{{tag_url}}" alt="">
      </div>
    {%- endif -%}

  {%- else -%}
    {%- comment -%}------------展示标签 指定 TAG 颜色--------------{%- endcomment -%}
    {%- for cus_tag in custome_tags -%}
      {%- assign tag_arr = cus_tag | split: ':' -%}
      {%- assign tag_heading = tag_arr[0] | strip- %}

      {%- if tag_heading contains custom_tag -%}
        {%- assign color_list = tag_arr[1] | split: '&' -%}
        {%- capture gradient_colors -%}--gradient-color-start: {{color_list[0]}}; --gradient-color-end: {{color_list[1]}};{%- endcapture -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}

    {%- if settings.tag_layout == 'bookmark' -%}
      {%- if custom_tag == 'Buy 4 Get EXTRA 20% Off' -%}
        {%- assign custom_tag = '4 FOR 20% Off' -%}
      {%- elsif custom_tag == 'Choose 3 for $59' -%}
        {%- assign custom_tag = '3 FOR $59' -%}
      {%- elsif custom_tag == 'Buy 1 get 2nd 50% OFF' -%}
        {%- assign custom_tag = '2ND 50% OFF' -%}
      {%- endif -%}
    {%- endif -%}

    <div
      class="activity-tag-ui activity-tag-ui-right  activity-ui-fade-in {%if settings.tag_layout=='bookmark'%}activity-label{%endif%} {{class_name}}"
      style="{{gradient_colors}} opacity: 1; height: auto;"
    >
      <div class="activity-ui-text">
        <div class="activity-ui-text_msg">{{ custom_tag }}</div>
      </div>
    </div>
  {%- endif -%}
{%- endif -%}
