<div class="card card--sticky hidden-pocket">
	<div class="card__section card__section--tight">
		<div class="card__linklist">
			<a href="{{ routes.account_url }}"
				 class="card__linklist-item link text--strong">{{ 'customer.general.orders' | t }}</a>
			<a href="{{ routes.account_addresses_url }}"
				 class="card__linklist-item link">{{ 'customer.general.addresses' | t }}</a>
			<a href="{{ routes.account_logout_url }}" class="card__linklist-item link"
				 data-no-instant>{{ 'customer.general.logout' | t }}</a>

			

			<span  class="card__linklist-item link ">hahaha</span>
		</div>
	</div>
</div>


