{%- assign mega_menus = section.blocks | map: 'settings' | map: 'menu_item' -%}
{%- assign high_light_menu = 'chritstmas,jackets&outerwear,special material,sweatshirts,long sleeve, patriot,polo shirt,Flash Sale Buy 3 For $55,Fishing Sale,polo shirts,cargo shorts,camouflage,hoodies,cargo  pants,halloween' -%}

<div id="mobile-menu" class="mobile-menu jjs-mobile-menu" aria-hidden="true">
  {%- render 'icon', icon: 'nav-triangle-borderless' -%}

  <div class="mobile-menu__inner">
    <div class="mobile-menu__panel">
      <div class="mobile-menu__section">
        <ul class="mobile-menu__nav" data-type="menu" role="list">
          {%- for link in menu.links -%}
            <li class="mobile-menu__nav-item">
              {%- if link.links != blank -%}
                {%- capture panel_id -%}mobile-panel-{{ forloop.index0 }}{%- endcapture -%}
                <button class="mobile-menu__nav-link  nav-bar-link__mobile data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="{{ panel_id }}" data-action="open-panel">
                  {{- link.title -}} {%- render 'icon', icon: 'arrow-right' -%}
                </button>
              {%- else -%}
								{% assign link_title_downcase = link.title | downcase | strip%}
								<a href="{{ link.url }}"  high_light_menu class="{% if high_light_menu contains link_title_downcase %}nav-dropdown__link__highlight {% endif %} mobile-menu__nav-link shence_commodityView nav-bar-link__mobile
                data-type="menuitem"  data-scenable="1" data-expenable="1" data-bindexp="1"
                data-sctype="mktClick" data-scdata='{"mkt_type":"bar",
                "first_mkt_name":"顶部导航",
                "first_mkt_id":"{{ section.id }}",
                "second_mkt_rank":"{{ forloop.index }}",
                "third_mkt_rank":"","mkt_material_url":"",
                "mkt_material_name":"{{ link.title | handleize }}",
                "commodity_spuid":"","commodity_skuid":"",
                "commodity_name":"","original_price":"",
                "current_price":"","currency_unit":"",
                "mkt_tag":[]}'>{{ link.title }}{% if high_light_menu contains link_title_downcase %}{%- render 'icon', icon: 'link-hot', -%}{% endif %}</a>
              {%- endif -%}
           {%- comment -%}{%- endcomment -%}
              {%- assign menuindex =  forloop.index -%}
                {%- if link.links != blank -%}
                  {%- capture panel_id -%}mobile-panel-{{ forloop.index0 }}{%- endcapture -%}
                  <div id="{{ panel_id }}" class="mobile-menu__panel ">
                    <div class="mobile-menu__section open-view" style="padding-bottom: 0;">

                      <ul class="mobile-menu__nav" data-type="menu" role="list">

                        {%- for sub_link in link.links -%}
                        <li class="mobile-menu__nav-item">
                          {%- if sub_link.links != blank -%}
                          {%- capture panel_id -%}mobile-panel-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}{%- endcapture -%}

                          <button class="mobile-menu__nav-link" data-type="menuitem" aria-haspopup="true" aria-expanded="false"
                            aria-controls="{{ panel_id }}" data-action="open-panel">
                            {{- sub_link.title -}} {%- render 'icon', icon: 'arrow-right' -%}
                          </button>
                          {%- else -%}
                          <a href="{{ sub_link.url }}" class="mobile-menu__nav-link shence_commodityView" data-type="menuitem"
                            data-scenable="1" data-expenable="1" data-bindexp="1" data-sctype="mktClick"
                            data-scdata='{"mkt_type":"bar",
                            "first_mkt_name":"顶部导航",
                            "first_mkt_id":"{{ section.id }}",
                            "second_mkt_rank":"{{ menuindex }}",
                            "third_mkt_rank":"{{ forloop.index }}",
                            "mkt_material_url":"",
                            "mkt_material_name":"{{ sub_link.title | handleize }}",
                            "commodity_spuid":"",
                            "commodity_skuid":"",
                            "commodity_name":"",
                            "original_price":"",
                            "current_price":"",
                            "currency_unit":"",
                            "mkt_tag":[]}'>{{ sub_link.title }}</a>
                          {%- endif -%}

                          <!-- sub menu -->
                          {%- if sub_link.links != blank -%}

                          <div id="{{ panel_id }}" class="mobile-menu__panel ">
                            <div class="mobile-menu__section open-view"  style="padding-bottom: 0;">
                              <ul class="mobile-menu__nav" data-type="menu" role="list">
                                {%- for sub_sub_link in sub_link.links -%}
                                  {% assign sub_sub_title_downcase = sub_sub_link.title | downcase%}
                                <li class="mobile-menu__nav-item">
                                  <a href="{{ sub_sub_link.url }}" class="{% if high_light_menu contains sub_sub_title_downcase %}nav-dropdown__link__highlight {% endif %}mobile-menu__nav-link" data-type="menuitem">
                                    {{ sub_sub_link.title }}
                                    {% if high_light_menu contains sub_sub_title_downcase %}
                                      {%- render 'icon', icon: 'link-hot', -%}
                                    {% endif %}
                                  </a>
                                </li>
                                {%- endfor -%}
                              </ul>
                            </div>
                          </div>
                          {%- endif -%}
                        </li>
                        {%- endfor -%}
                      </ul>


                    </div>
                  </div>
                {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      </div>

      {%- if section.settings.navigation_phone_number != blank or section.settings.navigation_email != blank -%}
        <div class="mobile-menu__section mobile-menu__section--loose">
          <p class="mobile-menu__section-title heading h5">{{ 'header.navigation.need_help' | t }}</p>

          {%- if section.settings.navigation_phone_number != blank -%}
            <div class="mobile-menu__help-wrapper">
              {%- render 'icon', icon: 'bi-phone' -%}
              <span>{{ section.settings.navigation_phone_number | escape }}</span>
            </div>
          {%- endif -%}

          {%- if section.settings.navigation_email != blank -%}
            <div class="mobile-menu__help-wrapper">
              {%- render 'icon', icon: 'bi-email' -%}
              <a href="mailto:{{ section.settings.navigation_email }}" data-scenable="1" class="shence_commodityView" data-expenable="1" data-bindexp="1" data-sctype="mktClick" data-scdata='{"mkt_type":"bar","first_mkt_name":"顶部导航","first_mkt_id":"{{ section.id }}","second_mkt_rank":"","third_mkt_rank":"","mkt_material_url":"","mkt_material_name":"邮箱","commodity_spuid":"","commodity_skuid":"","commodity_name":"","original_price":"","current_price":"","currency_unit":"","mkt_tag":[]}'>{{ section.settings.navigation_email | escape }}</a>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      {%- capture social_media -%}{% render 'social-media', show_social_media_name: true %}{%- endcapture -%}
      {%- if section.settings.show_navigation_social_media and social_media != blank -%}
        <div class="mobile-menu__section mobile-menu__section--loose">
          <p class="mobile-menu__section-title heading h5">{{ 'header.navigation.follow_us' | t }}</p>

          {{- social_media -}}
        </div>
      {%- endif -%}
    </div>


  </div>
</div>
