{%- assign selected_variant = product.selected_or_first_available_variant -%}
{%- assign product_form_id = 'product_form_' | append: section.id | append: product.id -%}
{% assign category = product.metafields.my_fields.category %}

{%- if product.tags.size > 1 -%}
	{% for tag in product.tags %}
		{%- if forloop.index == 1 -%}
			{%- assign commodity_tag = tag -%}
		{%- else -%}
			{%- assign commodity_tag = commodity_tag | append: "," | append: tag -%}
		{%- endif -%}
	{% endfor %}
	{%- assign commodity_tag = commodity_tag | split: "," -%}
{%- else -%}
	{%- assign commodity_tag = product.tags -%}
{%- endif -%}
<div
	class="card {% if product.media.size > 0 %}card--collapsed{% endif %} {% if template.name == 'product' %}card--sticky{% endif %} card--right">
	{%- if section.settings.enable_image_zoom -%}
		<div id="product-zoom-{{ section.id }}" class="product__zoom-wrapper"></div>
	{%- endif -%}

	<div class="card__section">
		{%- form 'product', product, id: product_form_id, class: 'product-form' -%}
			{%- for block in section.blocks -%}
				{%- case block.type -%}
				{%- when 'product_meta' -%}
				{%- render 'product-meta', product: product, block: block -%}

				{%- when 'product_sellpoint' -%}
				{%- render 'product-sellpoint', product: product, block: block -%}

				{%- when 'variant_selector' -%}
				{%- render 'product-variant-selector',form: form, block: block -%}

				{%- when 'buy_buttons' -%}
				{%- render 'product-buy-buttons', product: product, form: form, block: block, isQuickView:isQuickView -%}

				{%- when 'store_pickup' -%}
					{%- comment -%}The availability container will be added automatically if there is store pickup available{%- endcomment -%}
					<div class="product-meta__store-availability-container" {{ block.shopify_attributes }}>
						{%- render 'store-availability', product_variant: product.selected_or_first_available_variant -%}
					</div>

				{%- when 'featured_description' -%}
					{%- comment -%}This is only shown on the featured product section{%- endcomment -%}
					{%- if product.description != blank -%}
						<div class="product-meta__description rte" {{ block.shopify_attributes }}>
							{{ product.description | remove: 'data-section-type="product"' }}
						</div>
					{%- endif -%}

				{%- when '@app' -%}
				{%- render block -%}
				{%- endcase -%}
			{%- endfor -%}
		{%- endform -%}

		{%- for block in section.blocks -%}
		{%- case block.type -%}

		{%- comment -%} 搭配购 {%- endcomment -%}
		{%- when 'collocation_purchase' -%}
		{% assign time = settings.autoplay_time%}
		{%- render 'collocation-purchase', collocationLocation:"main-product-collocation", product: product, form: form, block: block isAuto:settings.product_autoplay time:time,layout_:"list"-%}
		
		{%- when 'delivery' -%}
		<div class="product-form__item product-block-list__item--description" {{ block.shopify_attributes }}>
			{%- if block.settings.display_mode == 'collapse' -%}
			<div class="card__collapsible-button " data-action="toggle-collapsible" aria-expanded="false"
				aria-controls="block-{{ section.id }}-{{ block.id }}">
				<span class="card__title   heading"> {%- render:'icon',icon:'cjj_postage' -%} Delivery</span>
				<span class="card-arrow">
					{%- render 'icon', icon: 'arrow-bottom' -%}
				</span>
			</div>
		
			<div id="block-{{ section.id }}-{{ block.id }}" class="card__collapsible">
				<div class="card__collapsible-content">
					<div class="rte text--pull">
						<div class="slider-box shipping-body">
							<div class="slider-box-content ">
								<div class="slider-item customer-d-flex ">
									<div class="slider-item-top">
										Purchase <strong>Over {{settings.cart_free_shipping_threshold| times: 100 | money}}</strong>
									</div>
									<div class="slider-item-bottom">
										<strong>FREE</strong>
									</div>
								</div>
								<div class="slider-item customer-d-flex  ">
									<div class="slider-item-top">
										Purchase <strong>$60.1-$68.9</strong>
									</div>
									<div class="slider-item-bottom">
										Costs <strong>$7.9</strong>
									</div>
								</div>
								<div class="slider-item customer-d-flex ">
									<div class="slider-item-top">
										Purchase <strong>$0-$60</strong>
									</div>
									<div class="slider-item-bottom">
										Costs <strong>$9.9</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="rte text--pull">
						<div class="slider-box shipping-body">
							<div>
								Estimated delivery time to US/EU is <strong>7-14</strong> business days
							</div>
						</div>
					</div>
				</div>
			</div>
			{%- else -%}
			<div class="card__header">
				<h2 class="card__title  heading "><span class="icon-color"> {%- render:'icon',icon:'cjj_postage' -%} </span>
					Delivery</h2>
			</div>
		
			<div class="card__section {% if block.settings.display_mode == 'view_more' %}expandable-content{% endif %}" {% if
				block.settings.display_mode=='view_more' %}aria-expanded="false" {% endif %}>
				<div class="rte text--pull">
					<div class="slider-box shipping-body">
						<div class="slider-box-content ">
							<div class="slider-item customer-d-flex ">
								<div class="slider-item-top">
									Purchase <strong>Over {{settings.cart_free_shipping_threshold| times: 100 | money}}</strong>
								</div>
								<div class="slider-item-bottom">
									<strong>FREE</strong>
								</div>
							</div>
							<div class="slider-item customer-d-flex  ">
								<div class="slider-item-top">
									Purchase <strong>60.1-$68.9</strong>
								</div>
								<div class="slider-item-bottom">
									Costs <strong>$7.9</strong>
								</div>
							</div>
							<div class="slider-item customer-d-flex ">
								<div class="slider-item-top">
									Purchase <strong>$0-$60</strong>
								</div>
								<div class="slider-item-bottom">
									Costs <strong>$9.9</strong>
								</div>
							</div>
						</div>
					</div>
					<div class="slider-box">
						<div>
							Estimated delivery time to US/EU is <strong>7-14</strong> business days
						</div>
					</div>
				</div>
				{%- if block.settings.display_mode == 'view_more' -%}
				<div class="expandable-content__toggle">
					<span class="expandable-content__toggle-icon"></span>
					<span class="expandable-content__toggle-text"
						data-view-more="{{ 'product.general.view_more' | t | escape }}"
						data-view-less="{{ 'product.general.view_less' | t | escape }}">{{- 'product.general.view_more' | t
						-}}</span>
				</div>
				{%- endif -%}
			</div>
			{%- endif -%}
		</div>

		{%- when 'policy' -%}
		<div class="product-form__item product-block-list__item--description " {{ block.shopify_attributes }}>
			{%- if block.settings.display_mode == 'collapse' -%}
			<div class="card__collapsible-button" data-action="toggle-collapsible" aria-expanded="false"
				aria-controls="block-{{ section.id }}-{{ block.id }}">
				<span class="card__title  heading">{%- render:'icon',icon:'ny_finish' -%} Return Policy</span>
				<span class="card-arrow">
					{%- render 'icon', icon: 'arrow-bottom' -%}
				</span>
			</div>
		
			<div id="block-{{ section.id }}-{{ block.id }}" class="card__collapsible">
				<div class="card__collapsible-content">
					<div class="rte text--pull">
						<p>You have a max of 30 days to make returns. <br>
							You must send back your items to an informed address by customer service.<br>
							No returns made after 30 days from the purchase date will be accepted.</p>
					</div>
				</div>
			</div>
			{%- else -%}
			<div class="card__header">
				<h2 class="card__title  heading">{%- render:'icon',icon:'ny_finish' -%}Return Policy</h2>
			</div>
		
			<div class="card__section {% if block.settings.display_mode == 'view_more' %}expandable-content{% endif %}" {% if
				block.settings.display_mode=='view_more' %}aria-expanded="false" {% endif %}>
				<div class="rte text--pull">
					<p>You have a max of 30 days to make returns. <br>
						You must send back your items to an informed address by customer service.<br>
						No returns made after 30 days from the purchase date will be accepted.</p>
				</div>
		
				{%- if block.settings.display_mode == 'view_more' -%}
				<div class="expandable-content__toggle">
					<span class="expandable-content__toggle-icon"></span>
					<span class="expandable-content__toggle-text"
						data-view-more="{{ 'product.general.view_more' | t | escape }}"
						data-view-less="{{ 'product.general.view_less' | t | escape }}">{{- 'product.general.view_more' | t
						-}}</span>
				</div>
				{%- endif -%}
			</div>
			{%- endif -%}
		</div>

		{%- when 'description' -%}
		{%- if product.description != blank -%}
		<div class="product-form__item product-block-list__item--description " {{ block.shopify_attributes }}>
			{%- if block.settings.display_mode == 'collapse' -%}
			<div class="card__collapsible-button" data-action="toggle-collapsible" aria-expanded="false"
				aria-controls="block-{{ section.id }}-{{ block.id }}">
				<span class="card__title  heading">{%- render:'icon',icon:'ny_list' -%}{{ 'product.general.description' | t
					}}</span>
				<span class="card-arrow">
					{%- render 'icon', icon: 'arrow-bottom' -%}
				</span>
			</div>
		
			<div id="block-{{ section.id }}-{{ block.id }}" class="card__collapsible">
				<div class="card__collapsible-content">
					<div class="rte text--pull">
						{{ product.description | remove: 'data-section-type="product"' }}
					</div>
				</div>
			</div>
			{%- else -%}
			<div class="card__header">
				<h2 class="card__title heading">{%- render:'icon',icon:'ny_list' -%}{{ 'product.general.description' | t }}</h2>
			</div>
		
			<div class="card__section {% if block.settings.display_mode == 'view_more' %}expandable-content{% endif %}" {% if
				block.settings.display_mode=='view_more' %}aria-expanded="false" {% endif %}>
				<div class="rte text--pull">
					{{ product.description | remove: 'data-section-type="product"' }}
				</div>
		
				{%- if block.settings.display_mode == 'view_more' -%}
				<div class="expandable-content__toggle">
					<span class="expandable-content__toggle-icon"></span>
					<span class="expandable-content__toggle-text"
						data-view-more="{{ 'product.general.view_more' | t | escape }}"
						data-view-less="{{ 'product.general.view_less' | t | escape }}">{{- 'product.general.view_more' | t
						-}}</span>
				</div>
				{%- endif -%}
			</div>
			{%- endif -%}
		</div>
		{%- endif -%}
		{%- endcase -%}
		{%- endfor -%}

	</div>

	{% comment %}
		------------------------------------------------------------------------------
		Product Data. This must be outputted for all products (including home page).

		IMPORTANT: THIS CODE IS VITAL. DO NOT EDIT IT NOR REMOVE IT. MAKE SURE TO KEEP
		THE EXACT SAME ATTRIBUTES.
		------------------------------------------------------------------------------
	{% endcomment %}

	{%- assign variant_selector_block = section.blocks | where: 'type', 'variant_selector' | first -%}

	<script type="application/json" data-product-json>
    {
      "product": {{ product | json }},
      "options_with_values": {{ product.options_with_values | json }},
      "selected_variant_id": {{ selected_variant.id }}
      {%- if variant_selector_block.settings.show_inventory_quantity -%}
        ,"inventories": {
          {%- for variant in product.variants -%}
		{%- if variant.available -%}
		{%- if variant.inventory_management and variant.inventory_policy == 'deny' and variant_selector_block.settings.low_inventory_threshold > 0 -%}
		{%- if variant.inventory_quantity <= variant_selector_block.settings.low_inventory_threshold -%}
		{%- capture inventory_message -%}{{ 'product.form.low_stock_with_quantity_count' | t: count: variant.inventory_quantity }}{%- endcapture -%}
	{%- else -%}
	{%- capture inventory_message -%}{{ 'product.form.in_stock_with_quantity_count' | t: count: variant.inventory_quantity }}{%- endcapture -%}
		{%- endif -%}
	{%- else -%}
		{%- if variant.inventory_policy == 'continue' and variant.inventory_quantity <= 0 and selected_variant.requires_shipping -%}
		{%- capture inventory_message -%}{{ 'product.form.oversell_stock' | t }}{%- endcapture -%}
	{%- else %}
	{%- capture inventory_message -%}{{ 'product.form.in_stock' | t }}{%- endcapture -%}
		{%- endif -%}
		{%- endif -%}
	{%- else -%}
	{%- capture inventory_message -%}{{ 'product.form.sold_out' | t }}{%- endcapture -%}
		{%- endif -%}

            "{{ variant.id }}": {
              "inventory_management": {{ variant.inventory_management | json }},
              "inventory_policy": {{ variant.inventory_policy | json }},
              "inventory_quantity": {{ variant.inventory_quantity | json }},
              "inventory_message": {{ inventory_message | json }}
            }{% unless forloop.last %}{% endunless %}
		{%- endfor -%}
        }
      {%- endif -%}
    }

	</script>
</div>
