

{%- comment -%}Color labels used to detect what is a color swatch{%- endcomment -%}

{%- assign color_label = 'color,colour,couleur,cor,colore,farbe,색,色,カラー,färg,farve,szín,barva' | split: ',' -%}

{%- comment -%}
{%- endcomment -%}
<div
	class="{% if show_mask %} ny-item-mask {% else %} product-item {% endif %}{% if horizontal %}product-item--horizontal{% elsif list %}product-item--list{% else %}product-item--vertical{% endif %} {% if section.id == 'blog-sidebar' %}product-item--compact{% endif %} {{ grid_classes }} {% if only_show_transparent %}product-item--transparent{% endif %}"
	data-scenable="1"
	data-sctype="SearchResultClick" 
	data-scdata='{"commodity_name":"{{ product.title| handleize }}","commodity_skuid":"","commodity_spuid":"{{- product.handle| handleize -}}","commodity_image_url":"{{- product.featured_image|image_url -}}","original_price":"{{- product.compare_at_price -}}","current_price":"{{- product.price -}}","mkt_tag":[],"mkt_location":"{{ index }}"}'
	data-procuct-id="{{- product.id -}}"
	>
<product-item>
	{%- capture product_labels -%}
		{%- unless hide_labels -%}
			{%- for tag in product.tags -%}
				{%- if tag contains '__label:' -%}
					<span class="product-label product-label--custom1">{{ tag | split: '__label:' | last }}</span>
				{%- endif -%}

				{%- if tag contains '__label1:' -%}
					<span class="product-label product-label--custom1">{{ tag | split: '__label1:' | last }}</span>
				{%- endif -%}

				{%- if tag contains '__label2:' -%}
					<span class="product-label product-label--custom2">{{ tag | split: '__label2:' | last }}</span>
				{%- endif -%}
			{%- endfor -%}

			{%- comment -%}discount LABEL {%- endcomment -%}
			{%- if settings.show_discount and product.price < product.compare_at_price -%}
				{%- if settings.discount_mode == 'percentage' -%}
					{%- assign savings = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round | append: '%' -%}
				{%- else -%}
					{%- capture savings -%}
						<span>{{ product.compare_at_price | minus: product.price | money }}</span>{%- endcapture -%}
				{%- endif -%}
				<span
					class="product-label product-label--on-sale">{{ 'collection.product.discount_html' | t: savings: savings }}</span>
			{%- endif -%}

		{%- endunless -%}
	{%- endcapture -%}

	{%- if product_labels != blank -%}
		<div class="product-item__label-list">
			{{- product_labels -}}
		</div>
	{%- endif -%}

	{%- if settings.show_secondary_image and product.media.size > 1 -%}
		{%- assign show_secondary_media = true -%}
	{%- else -%}
		{%- assign show_secondary_media = false -%}
	{%- endif -%}

	{%- assign filtered_variant = '' -%}

	{%- if product.media.size > 0 -%}
		{%- assign primary_media = product.featured_media -%}
      <div style="position:relative;">
		  	<a
			href="{{ product.url }}"
			 class="product-item__image-wrapper product-item_mktClick shence_commodityView {% if show_secondary_media %}product-item__image-wrapper--with-secondary{% endif %} icon-relative"
			 data-scenable="1" data-expenable="1" data-bindexp="1" data-sctype="mktClick"
			 {% if collection.title =='HOT SALE HYFOL 3' %}
			data-expscdata='{"commodity_spuid":"{{- product.handle| handleize -}}","commodity_name":"{{ product.title | handleize }}","first_commodity":"{{product.metafields.my_fields.category.first_commodity}}","second_commodity":"{{product.metafields.my_fields.category.second_commodity}}","third_commodity":"{{product.metafields.my_fields.category.third_commodity}}","original_price":"{{product.compare_at_price_min}}","current_price":"{{- product.price -}}","currency_unit":"USD"}'
			{% endif %}
			 data-scdata='{"mkt_type":"product","first_mkt_name":"{{ first_mkt_name }}","first_mkt_id":"{{ section.id }}","second_mkt_rank":"{{ forloop.index }}","third_mkt_rank":"","mkt_material_url":"","mkt_material_name":"{{ mkt_material_name }}","commodity_spuid":"{{ product.handle }}","commodity_skuid":"{{ product.selected_or_first_available_variant.sku }}","commodity_name":"{{ product.title| handleize }}","original_price":"{{ product.selected_or_first_available_variant.compare_at_price }}","current_price":"{{ product.selected_or_first_available_variant.price }}","currency_unit":"USD","mkt_tag":[]}'>
			{% if only_show_transparent  and product.metafields.my_fields.transparentimg1  != blank or only_show_transparent and product.metafields.my_fields.transparencydrawing[0].path != blank %}
				{%- comment -%}
					{% for media in product.media %}
						{% assign alt_parts = media.alt | split: '#' %}
						{% assign downcase_group_option = alt_parts.last | split: '_' %}
						{% if downcase_group_option.first == 'transparent' %}
							{% if downcase_group_option.last  == '1' %}
								{%- assign transparent1 = product.media[forloop.index0] -%}
								{% elsif downcase_group_option.last  == '2' %}
								{%- assign transparent2 = product.media[forloop.index0] -%}
							{% endif %}
						{% else %}
							{%- assign transparent1 = product.featured_media -%}
							{%- assign transparent2 = product.media[1] -%}
						{% endif %}
					{% endfor %}
				{%- endcomment -%}


				{%- if product.metafields.my_fields.transparentimg1  != blank -%}
					{%- assign image_url = product.metafields.my_fields.transparentimg1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
				{%- elsif product.metafields.my_fields.transparencydrawing[0].path != blank -%}
					{%- assign image_url = product.metafields.my_fields.transparencydrawing[0].path | append: product.metafields.my_fields.transparencydrawing[0].imageMd5 -%}
				{%- endif -%}
				{%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,500,600,700,800', image: primary_media.preview_image -%}{%- endcapture -%}
				<div
					class="aspect-ratio {% if settings.product_image_size != 'natural' %}aspect-ratio--{{ settings.product_image_size }}{% endif %}"
					style="padding-bottom: {{ 100.0 | divided_by: primary_media.preview_image.aspect_ratio }}%">
					<img class="product-item__primary-image lazyload image--fade-in" data-media-id="{{ primary_media.id }}"
							 data-src="{{ image_url}}" data-sizes="auto" data-widths="[{{ supported_sizes }}]">
					{%- if show_secondary_media -%}
						{%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,500,600,700,800', image: primary_media.preview_image -%}{%- endcapture -%}
						{% if product.metafields.my_fields.transparentimg2  != blank%}
							{%- assign image_url = product.metafields.my_fields.transparentimg2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
							{% elsif product.metafields.my_fields.transparencydrawing[1].path != blank %}
							{%- assign image_url = product.metafields.my_fields.transparencydrawing[1].path | append: product.metafields.my_fields.transparencydrawing[1].imageMd5 -%}
						{% endif %}
						<img class="product-item__secondary-image lazyload image--fade-in" data-src="{{ image_url }}"
								 data-sizes="auto" data-widths="[{{ supported_sizes }}]" >
					{%- endif -%}
					<noscript>
						<img src="{{ primary_media | img_url: '600x' }}" alt="{{ primary_media.alt | escape }}">
					</noscript>
				</div>

			{%- else -%}

				{%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,500,600,700,800', image: primary_media.preview_image -%}{%- endcapture -%}
				{%- assign image_url = primary_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
				<div
					class="aspect-ratio {% if settings.product_image_size != 'natural' %}aspect-ratio--{{ settings.product_image_size }}{% endif %}"
					style="
						padding-bottom: {{ 100.0 | divided_by: primary_media.preview_image.aspect_ratio }}%;
						background-color: #fff;">
					<img class="product-item__primary-image lazyload image--fade-in" data-media-id="{{ primary_media.id }}"
							 data-src="{{ image_url }}" data-sizes="auto" data-widths="[{{ supported_sizes }}]"
							 alt="{{ primary_media.alt | escape }}">

					{%- if show_secondary_media -%}
						{%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,500,600,700,800', image: product.media[1].preview_image -%}{%- endcapture -%}
						{%- assign image_url = product.media[1] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

						<img class="product-item__secondary-image lazyload image--fade-in" data-src="{{ image_url }}"
								 data-sizes="auto" data-widths="[{{ supported_sizes }}]" alt="{{ product.media[1].alt | escape }}">
					{%- endif -%}

					<noscript>
						<img src="{{ primary_media | img_url: '600x' }}" alt="{{ primary_media.alt | escape }}">
					</noscript>
				</div>
			{%- endif -%}

			{%- comment -%}-------------活动TAG-------------{%- endcomment -%}

			{%- if settings.show_activity_tag  -%}
			
			{%- render "activity-tag",product:product -%}
			{%- endif -%}

		</a>
		<div class="ld-collect">
			<div class="ld-collect-icon">
				<svg t="1650437992383"  class="icon remove-collect collect_btn" data-id="{{ product.id}}" data-select="false"
				data-spu="{{ product.handle}}" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
				  p-id="1566" width="40" height="40">
				  <path d="M512 512m-512 0a512 512 0 1 0 1024 0 512 512 0 1 0-1024 0Z" fill="#FFFFFFc8" p-id="1567"></path>
				  <path
					d="M595.158637 306.43705c-31.37053 0-62.741061 11.111901-87.840374 30.792538-25.099314-19.680637-56.484294-30.792538-87.869275-30.792538-75.615838 0-134.845596 59.706601-134.845596 135.929332 0 81.337962 62.278667 143.833376 150.27799 223.191714a1354.835549 1354.835549 0 0 1 52.886292 50.299777c5.187481 5.25973 12.137838 8.149691 19.536139 8.149691 7.369401 0 14.305309-2.875512 19.492789-8.135242a1387.558581 1387.558581 0 0 1 52.900742-50.314226c87.999323-79.401688 150.306889-141.882652 150.306889-223.206164 0.01445-76.193831-59.215308-135.914882-134.845596-135.914882z m-35.286427 335.669009a1380.395812 1380.395812 0 0 0-52.553947 49.967432 1369.058493 1369.058493 0 0 0-52.582847-49.981881c-80.774419-72.855925-137.952304-129.715915-137.952304-198.020151 0-59.258657 45.964835-105.685886 104.6166-105.685886 27.873677 0 55.776254 11.1986 76.612875 30.734739l9.305676 8.742133 9.305675-8.742133c20.807722-19.536139 48.724748-30.734739 76.583976-30.734739 58.695115 0 104.65995 46.427229 104.659949 105.685886-0.01445 68.304236-57.221234 125.164225-137.995653 198.0346z"
					p-id="1568"></path>
				</svg>
				{%- comment -%}
				<svg t="1650438004173" class="icon add-collect " data-id="{{ product.id}}"
				  data-spu="{{ product.handle}}" viewBox="0 0 1024 1024" version="1.1"
				  xmlns="http://www.w3.org/2000/svg" p-id="1717" width="40" height="40">
				  <path d="M512 512m-512 0a512 512 0 1 0 1024 0 512 512 0 1 0-1024 0Z" fill="#FFFFFFc8" p-id="1718"></path>
				  <path
					d="M595.158637 306.43705c-31.37053 0-62.741061 11.111901-87.840374 30.792538-25.099314-19.680637-56.484294-30.792538-87.869275-30.792538-75.615838 0-134.845596 59.706601-134.845596 135.929332 0 81.337962 62.278667 143.833376 150.27799 223.191714a1354.835549 1354.835549 0 0 1 52.886292 50.299777c5.187481 5.25973 12.137838 8.149691 19.536139 8.149691 7.369401 0 14.305309-2.875512 19.492789-8.135242a1387.558581 1387.558581 0 0 1 52.900742-50.314226c87.999323-79.401688 150.306889-141.882652 150.306889-223.206164 0.01445-76.193831-59.215308-135.914882-134.845596-135.914882z"
					fill="#E5404F" p-id="1719"></path>
				</svg>
				{%- endcomment -%}
				<!-- <span style="display: none;">{{card_product.metafields.ld_site_system.collection_quantity}}</span> -->
			</div>
		</div>

	  </div>
	
	{%- endif -%}

	<div class="product-item__info" data-temp="{{request.page_type}}">
		{%- if settings.show_color_swatch and template != 'blog' and only_show_transparent != true -%}
			{%- capture color_swatch -%}
				{%- capture color_name -%}{{ section.id }}-{{ product.id }}{%- endcapture -%}

				{%- for option in product.options_with_values -%}
					{%- assign downcased_option = option.name | downcase -%}

					{%- if color_label contains downcased_option -%}
						{%- assign variant_option = 'option' | append: forloop.index -%}
						{%- assign value_to_match = filtered_variant[variant_option] | default: option.selected_value -%}

						{%- assign color_swatch_config = settings.color_swatch_config | newline_to_br | split: '<br />' -%}

						{%- for value in option.values -%}
							{%- assign downcased_value = value | downcase -%}
							{%- capture color_id -%}{{ color_name }}-{{ forloop.index }}{%- endcapture -%}

							{%- for variant in product.variants -%}
								{%- if variant[variant_option] == value -%}
									{%- assign variant_for_value = variant -%}
									{%- break -%}
								{%- endif -%}
							{%- endfor -%}

							<div
								class="color-swatch color-swatch--white">
								{%- if variant_for_value.featured_media -%}
									{%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,500,600,700,800', image: variant_for_value.featured_media.preview_image -%}{%- endcapture -%}
									{%- assign image_url = variant_for_value.featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
								{%- endif -%}

								<input class="color-swatch__radio" type="radio" name="{{ color_name }}" id="{{ color_id }}"
											 value="{{ value | escape }}" {% if value_to_match == value %}checked="checked"{% endif %}
											 data-variant-url="{{ variant_for_value.url }}"
											 data-sku="{{ variant_for_value.sku }}" {% if variant_for_value.featured_media %}data-media-id="{{ variant_for_value.featured_media.id }}" data-image-url="{{ image_url }}" data-image-widths="[{{ supported_sizes }}]" data-image-aspect-ratio="{{ variant_for_value.featured_media.preview_image.aspect_ratio }}"{% endif %}
											 aria-label="{{ value | escape }}">
								<label class="color-swatch__item" for="{{ color_id }}"
											 style="{% render 'color-swatch-style', color_swatch_config: color_swatch_config, value: downcased_value %}"
											 title="{{ value | escape }}">
									<span class="visually-hidden">{{ value }}</span>
								</label>
								<a href="{{ product.url }}"
									 class="color-swatch__item-link product-item_mktClick" data-scenable="1" data-sctype="mktClick"
									 data-scdata='{"mkt_type":"product","first_mkt_name":"{{ first_mkt_name }}","first_mkt_id":"{{ section.id }}","second_mkt_rank":"{{ forloop.index }}","third_mkt_rank":"","mkt_material_url":"","mkt_material_name":"{{ mkt_material_name }}","commodity_spuid":"{{ product.handle }}","commodity_skuid":"{{ product.selected_or_first_available_variant.sku }}","commodity_name":"{{ product.title| handleize }}","original_price":"{{ product.selected_or_first_available_variant.compare_at_price }}","current_price":"{{ product.selected_or_first_available_variant.price }}","currency_unit":"USD","mkt_tag":[]}'>+{{ option.values.size | minus: forloop.index0 }}</a>
							</div>
						{%- endfor -%}
					{%- endif -%}
				{%- endfor -%}
			{%- endcapture -%}

				<div class="product-item__swatch-list">
					{%- if color_swatch != blank -%}
							<div class="color-swatch-list">
								{{ color_swatch }}
							</div>
					{%- endif -%}
				</div>

		{%- endif -%}

		<div class="product-item__info-inner {{request.page_type}}-product-item__info-inner" {% if show_mask %}style="display:none"{% endif %}>
			<a href="{{ filtered_variant.url | default: product.url }}" style="position: absolute;top: 70px;right: 0;left: 0;bottom: 0;"></a>
			{%- capture price_list -%}
				<div class="product-item__price-list price-list">
					{%- if product.price < product.compare_at_price -%}
						{%- if product.price_varies -%}
							{%- if settings.currency_code_enabled -%}
								{%- capture price_min -%}{{ product.price_min | money_with_currency }}{%- endcapture -%}
								{%- capture price_max -%}{{ product.price_max | money_with_currency }}{%- endcapture -%}
							{%- else -%}
								{%- capture price_min -%}{{ product.price_min | money }}{%- endcapture -%}
								{%- capture price_max -%}{{ product.price_max | money }}{%- endcapture -%}
							{%- endif -%}
							<div>
								<span class="price price--highlight">
                <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                {{- 'collection.product.from_price_html' | t: price_min: price_min, price_max: price_max -}}
              </span>

								{%- comment -%}---------------折扣前原价---------------{%- endcomment -%}
								<span class="price price--compare">
                <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>
                {%- if settings.currency_code_enabled -%}
									{{- product.compare_at_price_min | money_with_currency -}}
								{%- else -%}
									{{- product.compare_at_price_min | money -}}
								{%- endif -%}
              </span>

							</div>
						{%- else -%}
							<div>
							<span class="price price--highlight">
                <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                {%- if settings.currency_code_enabled -%}
									{{- product.price | money_with_currency -}}
								{%- else -%}
									{{- product.price | money -}}
								{%- endif -%}
              </span>

								{%- comment -%}---------------折扣前原价---------------{%- endcomment -%}
								<span class="price price--compare">
                <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>
               		{%- if settings.currency_code_enabled -%}
										{{- product.compare_at_price | money_with_currency -}}
									{%- else -%}
										{{- product.compare_at_price | money -}}
									{%- endif -%}
              	</span>

							</div>
						{%- endif -%}
						{%- elsif product.price_varies -%}
						{%- if settings.currency_code_enabled -%}
							{%- capture price_min -%}{{ product.price_min | money_with_currency }}{%- endcapture -%}
							{%- capture price_max -%}{{ product.price_max | money_with_currency }}{%- endcapture -%}
						{%- else -%}
							{%- capture price_min -%}{{ product.price_min | money }}{%- endcapture -%}
							{%- capture price_max -%}{{ product.price_max | money }}{%- endcapture -%}
						{%- endif -%}

						<span class="price">
              <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
              {{- 'collection.product.from_price_html' | t: price_min: price_min, price_max: price_max -}}
            </span>
					{%- else -%}
						<span class="price">
              <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
              {%- if settings.currency_code_enabled -%}
								{{- product.price | money_with_currency -}}
							{%- else -%}
								{{- product.price | money -}}
							{%- endif -%}
            </span>
					{%- endif -%}
					{%- if settings.show_reviews_badge -%}
						<a class="product-item__reviews-badge link product-item_mktClick" href="{{ product.url }}#product-reviews"
							 data-scenable="1" data-sctype="mktClick"
							 data-scdata='{"mkt_type":"product","first_mkt_name":"{{ first_mkt_name }}","first_mkt_id":"{{ section.id }}","second_mkt_rank":"{{ forloop.index }}","third_mkt_rank":"","mkt_material_url":"","mkt_material_name":"{{ mkt_material_name }}","commodity_spuid":"{{ product.handle }}","commodity_skuid":"{{ product.selected_or_first_available_variant.sku }}","commodity_name":"{{ product.title| handleize }}","original_price":"{{ product.selected_or_first_available_variant.compare_at_price }}","current_price":"{{ product.selected_or_first_available_variant.price }}","currency_unit":"USD","mkt_tag":[]}'>
							{%- render 'product-rating', product: product -%}
						</a>
					{%- endif -%}
				</div>

				{%- if product.selected_or_first_available_variant.unit_price_measurement -%}
					<div class="product-item__price-info">
						<div class="unit-price-measurement">
							<span
								class="unit-price-measurement__price">{{ product.selected_or_first_available_variant.unit_price | money }}</span>
							<span class="unit-price-measurement__separator">/ </span>

							{%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
								<span
									class="unit-price-measurement__reference-value">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_value }}</span>
							{%- endif -%}

							<span
								class="unit-price-measurement__reference-unit">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}</span>
						</div>
					</div>
				{%- endif -%}
			{%- endcapture -%}

			{%- capture vendor -%}
				{%- if settings.show_vendor -%}
					{%- assign vendor_handle = product.vendor | handle -%}
					{%- assign collection_for_vendor = collections[vendor_handle] -%}

					{%- unless collection_for_vendor.empty? -%}
						<a class="product-item__vendor link product-item_mktClick" href="{{ collection_for_vendor.url }}"
							 data-scenable="1" data-sctype="mktClick"
							 data-scdata='{"mkt_type":"product","first_mkt_name":"{{ first_mkt_name }}","first_mkt_id":"{{ section.id }}","second_mkt_rank":"{{ forloop.index }}","third_mkt_rank":"","mkt_material_url":"","mkt_material_name":"{{ mkt_material_name }}","commodity_spuid":"{{ product.handle }}","commodity_skuid":"{{ product.selected_or_first_available_variant.sku }}","commodity_name":"{{ product.title| handleize }}","original_price":"{{ product.selected_or_first_available_variant.compare_at_price }}","current_price":"{{ product.selected_or_first_available_variant.price }}","currency_unit":"USD","mkt_tag":[]}'>{{ product.vendor }}</a>
						{%- else -%}
						<a class="product-item__vendor link product-item_mktClick" href="{{ product.vendor | url_for_vendor }}"
							 data-scenable="1" data-sctype="mktClick"
							 data-scdata='{"mkt_type":"product","first_mkt_name":"{{ first_mkt_name }}","first_mkt_id":"{{ section.id }}","second_mkt_rank":"{{ forloop.index }}","third_mkt_rank":"","mkt_material_url":"","mkt_material_name":"{{ mkt_material_name }}","commodity_spuid":"{{ product.handle }}","commodity_skuid":"{{ product.selected_or_first_available_variant.sku }}","commodity_name":"{{ product.title| handleize }}","original_price":"{{ product.selected_or_first_available_variant.compare_at_price }}","current_price":"{{ product.selected_or_first_available_variant.price }}","currency_unit":"USD","mkt_tag":[]}'>{{ product.vendor }}</a>
					{%- endunless -%}
				{%- endif -%}
			{%- endcapture -%}

			{%- if settings.product_price_position == 'before_title' -%}
				{{ price_list }}
			{%- endif -%}

			{%- if settings.product_price_position == 'after_title' -%}
				{{ vendor }}
			{%- endif -%}

			<a href="{{ filtered_variant.url | default: product.url }}"
				 class="product-item__title text--strong link product-item_mktClick product-item_text" data-scenable="1" data-sctype="mktClick"
				 data-scdata='{"mkt_type":"product","first_mkt_name":"{{ first_mkt_name }}","first_mkt_id":"{{ section.id }}","second_mkt_rank":"{{ forloop.index }}","third_mkt_rank":"","mkt_material_url":"","mkt_material_name":"{{ mkt_material_name }}","commodity_spuid":"{{ product.handle }}","commodity_skuid":"{{ product.selected_or_first_available_variant.sku }}","commodity_name":"{{ product.title| handleize }}","original_price":"{{ product.selected_or_first_available_variant.compare_at_price }}","current_price":"{{ product.selected_or_first_available_variant.price }}","currency_unit":"USD","mkt_tag":[]}'>{{ product.title }}</a>

			{%- if settings.product_price_position == 'before_title' -%}
				{{ vendor }}
			{%- endif -%}


			{%- if settings.product_price_position == 'after_title' -%}
				{{ price_list }}
			{%- endif -%}


			{%- if settings.show_inventory_quantity and product.template_suffix != 'pre-order' -%}
				{%- if product.available -%}
					{%- assign should_calculate_inventory = true -%}

					{%- for variant in product.variants -%}
						{%- comment -%}
							If we have one variant that is set to "continue" or that do not have any inventory management, then we skip the calculation of inventory as this
							means at least one of the variant is always purchasable
						{%- endcomment -%}

						{%- if variant.inventory_policy == 'continue' or variant.inventory_management == null -%}
							{%- assign should_calculate_inventory = false -%}
							{%- break -%}
						{%- endif -%}
					{%- endfor -%}

					{%- if should_calculate_inventory and settings.low_inventory_threshold > 0 -%}
						{%- assign all_inventory = 0 -%}

						{%- for variant in product.variants -%}
							{%- if variant.inventory_management -%}
								{%- assign all_inventory = variant.inventory_quantity | at_least: 0 | plus: all_inventory -%}
							{%- endif -%}
						{%- endfor -%}

						{%- if all_inventory <= settings.low_inventory_threshold -%}
							<span
								class="product-item__inventory inventory inventory--low">{{ 'collection.product.low_stock_with_quantity_count' | t: count: all_inventory }}</span>
						{%- else -%}
							<span
								class="product-item__inventory inventory inventory--high">{{ 'collection.product.in_stock_with_quantity_count' | t: count: all_inventory }}</span>
						{%- endif -%}
					{%- else -%}
						{%- if product.variants.first.inventory_policy == 'continue' and product.variants.first.inventory_quantity <= 0 and product.variants.first.requires_shipping -%}
							<span
								class="product-item__inventory inventory inventory--high">{{ 'collection.product.oversell_stock' | t }}</span>
						{%- else -%}
							<span
								class="product-item__inventory inventory inventory--high">{{ 'collection.product.in_stock' | t }}</span>
						{%- endif -%}
					{%- endif -%}
				{%- else -%}
					<span class="product-item__inventory inventory">{{ 'collection.product.sold_out' | t }}</span>
				{%- endif -%}
			{%- endif -%}
		</div>

		{%- if request.page_type == 'collection' or request.page_type == 'search' or show_add_to_cart -%}
			{%- if section.settings.show_quick_view == 'list_grid' or section.settings.show_quick_buy == 'list_grid' or show_add_to_cart -%}
				{%- assign product_form_classes = 'product-item__action-list button-stack' -%}
			{%- else -%}
				{%- assign product_form_classes = 'product-item__action-list product-item__action-list--list-view-only button-stack' -%}
			{%- endif -%}

			{%- assign form_id = 'product_form_id_' | append: product.id | append: '_' | append: section.id -%}

			{%- if product.template_suffix == 'contact' -%}
				<div class="{{ product_form_classes }}">
					<a href="mailto:{{ shop.email }}"
						 class="product-item__action-button button button--small button--primary product-item_mktClick"
						 data-scenable="1" data-sctype="mktClick"
						 data-scdata='{"mkt_type":"product","first_mkt_name":"{{ first_mkt_name }}","first_mkt_id":"{{ section.id }}","second_mkt_rank":"{{ forloop.index }}","third_mkt_rank":"","mkt_material_url":"","mkt_material_name":"{{ mkt_material_name }}","commodity_spuid":"{{ product.handle }}","commodity_skuid":"{{ product.selected_or_first_available_variant.sku }}","commodity_name":"{{ product.title| handleize }}","original_price":"{{ product.selected_or_first_available_variant.compare_at_price }}","current_price":"{{ product.selected_or_first_available_variant.price }}","currency_unit":"USD","mkt_tag":[]}'>
						{{- 'product.form.contact_us' | t -}}
					</a>
				</div>
			{%- else -%}
				{%- form 'product', product, id: form_id, class: product_form_classes -%}
					<input type="hidden" name="quantity" value="1">
					<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

					{%- if section.settings.show_quick_buy == 'list_grid' or show_add_to_cart -%}
						{%- assign quick_buy_classes = 'product-item__action-button button button--small button--primary' -%}
					{%- else -%}
						{%- assign quick_buy_classes = 'product-item__action-button product-item__action-button--list-view-only button button--small button--primary' -%}
					{%- endif -%}

					{%- if product.available -%}
						{%- if product.variants.size == 1 -%}
							<button type="submit" class="{{ quick_buy_classes }}" data-action="add-to-cart">
								{%- if product.template_suffix == 'pre-order' -%}
									{{- 'collection.product.pre_order' | t -}}
								{%- else -%}
									{{- 'collection.product.add_to_cart' | t -}}
								{%- endif -%}
							</button>
						{%- else -%}
							<a href="{{ product.url }}"
								 class="{{ quick_buy_classes }} product-item_mktClick" data-scenable="1" data-sctype="mktClick"
								 data-scdata='{"mkt_type":"product","first_mkt_name":"{{ first_mkt_name }}","first_mkt_id":"{{ section.id }}","second_mkt_rank":"{{ forloop.index }}","third_mkt_rank":"","mkt_material_url":"","mkt_material_name":"{{ mkt_material_name }}","commodity_spuid":"{{ product.handle }}","commodity_skuid":"{{ product.selected_or_first_available_variant.sku }}","commodity_name":"{{ product.title| handleize }}","original_price":"{{ product.selected_or_first_available_variant.compare_at_price }}","current_price":"{{ product.selected_or_first_available_variant.price }}","currency_unit":"USD","mkt_tag":[]}'>{{ 'collection.product.choose_options' | t }}</a>
						{%- endif -%}
					{%- else -%}
						<button class="{{ quick_buy_classes | replace: 'button--primary', 'button--disabled' }}"
										disabled>{{ 'collection.product.sold_out' | t }}</button>
					{%- endif -%}

					{%- if section.settings.show_quick_view == 'list_grid' -%}
						{%- assign quick_view_classes = 'product-item__action-button button button--small button--ternary hidden-phone' -%}
					{%- else -%}
						{%- assign quick_view_classes = 'product-item__action-button product-item__action-button--list-view-only button button--small button--ternary hidden-phone' -%}
					{%- endif -%}
				{%- assign tags = "" -%}
					{% for tag in product.tags %}
						{%- if forloop.index == 1 -%}
							{%- assign tags = tag | handleize -%}
						{%- else -%}
							{%- assign tagtitlie = tag | handleize -%}
							{%- assign tags = tags | append: "," | append: tagtitlie -%}
						{%- endif -%}
					{% endfor %}
					<button type="button" class="{{ quick_view_classes }} openQuickView" data-action="open-modal"
									data-scenable="1"
									data-sctype="quickView"
									data-scdata='{"is_quick_view":1,
							        "commodity_spuid": "{{ product.handle }}",
							        "currency_unit":"USD",
                                    "commodity_name": "{{ product.title | handleize }}",
							        "commodity_skuid":"{{ selected_variant.sku }}",
							        "commodity_image_quantity":"{{ product.images.size }}",
							        "commodity_description_text":["{{ product.description | handleize }}"],
				                    "commodity_description_image":["{{ product.featured_image | image_url | split: "?" | first }}"],
							        "commodity_size":"",
				                    "commodity_color":"",
							        "commodity_tag":"{{ tags }}",
									"commodity_type":"{{ product.type | handleize }}",
							        "original_price":"{{ product.selected_or_first_available_variant.compare_at_price }}",
			      	                "current_price":"{{ product.selected_or_first_available_variant.price }}"}'
									data-secondary-action="open-quick-view" aria-controls="modal-quick-view-{{ section.id }}"
									data-product-url="{{ product.url }}">{{ 'collection.product.quick_view' | t }}</button>
				{%- endform -%}
			{%- endif -%}
		{%- endif -%}
	</product-item>
	</div>

	{%- comment -%}-------------快速加购图标------------{%- endcomment -%}
	{%- if show_quick_view_button -%}
	<button class="mini-cart-quick_button" 
	data-secondary-action="open-quick-view" aria-controls="modal-quick-view-{{ section.id }}"
	data-product-url="{{ product.url }}">{%- render 'icon',icon:"cart" -%}</button>
	{%- endif -%}

</div>