<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {% include 'kiwiSizing' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.accent_color }}">

    {%- capture seo_page_title -%}
      {%- if request.page_type == 'search' and search.terms != blank -%}
        {{ search.terms | split: ' AND ' | last | split: 'product_type:' | last }} - {{ shop.name }}
      {%- else -%}
        {{ page_title }}
        {% if current_tags %}
          {% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}
        {% if current_page != 1 %}
          &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
      {%- endif -%}
    {%- endcapture -%}

    <title>{{- seo_page_title -}}</title>
    <script src="{{ 'shencesdk.js' | asset_url }}"></script>
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link
        rel="shortcut icon"
        href="{{ settings.favicon | img_url: '96x96' }}"
        type="image/png">
    {%- endif -%}

    {%- comment -%}Few prefech to increase performance on commonly used third-parties{%- endcomment -%}
    <link
      rel="preload"
      as="style"
      href="{{ 'theme.min.css' | asset_url }}">
    <link as="script" href="{{ 'theme.js' | asset_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com">
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.gstatic.com">

    {% render 'social-meta-tags' %}
    {% render 'css-variables' %}

    {{ content_for_header }}



    <link rel="stylesheet" href="{{ 'theme.min.css' | asset_url }}">

    {% render 'microdata-schema' %}

    <script>
      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        pageType: {{ request.page_type | json }},
        cartCount: {{ cart.item_count | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        currencyCodeEnabled: {{ settings.currency_code_enabled | json }},
        showDiscount: {{ settings.show_discount | json }},
        discountMode: {{ settings.discount_mode | json }},
        searchMode: {{ settings.search_mode | json }},
        searchUnavailableProducts: {{ settings.search_unavailable_products | json }},
        cartType: {{ settings.cart_type | json }}
      };

      window.routes = {
        rootUrl: {{ routes.root_url | json }},
        rootUrlWithoutSlash:{% if routes.root_url == '/' %}
          '' {% else %}{{ routes.root_url | json }}{% endif %},
        cartUrl: {{ routes.cart_url | json }},
        cartAddUrl: {{ routes.cart_add_url | json }},
        cartChangeUrl: {{ routes.cart_change_url | json }},
        searchUrl: {{ routes.search_url | json }},
        productRecommendationsUrl: {{ routes.product_recommendations_url | json }}
      };

      window.languages = {
        productRegularPrice: {{ 'product.general.regular_price' | t | json }},
        productSalePrice: {{ 'product.general.sale_price' | t | json }},
        collectionOnSaleLabel: {{ 'collection.product.discount_html' | t | json }},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormAddToCart:{% if product.template_suffix == 'pre-order' %}
          {{ 'product.form.pre_order' | t | json }}
        {% else %}
          {{ 'product.form.add_to_cart' | t | json }}{% endif %},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        productAdded: {{ 'product.form.added' | t | json }},
        productAddedShort: {{ 'product.form.added_short' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMultipleResults: {{ 'cart.shipping_estimator.multiple_results_title' | t | json }},
        shippingEstimatorErrors: {{ 'cart.shipping_estimator.errors' | t | json }}
      };

      window.lazySizesConfig = {
        loadHidden: false,
        hFac: 0.8,
        expFactor: 3,
        customMedia: {
          '--phone': '(max-width: 640px)',
          '--tablet': '(min-width: 641px) and (max-width: 1023px)',
          '--lap': '(min-width: 1024px)'
        }
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
    <script src="{{ 'shenceTrackExposure.js' | asset_url }}"></script>
    {%- if request.page_type == 'customers/addresses' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <script src="{{ 'custom.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>

    {%- if settings.showFlake and request.page_type == 'index' -%}
      <script src="{{ 'xuehua.js' | asset_url }}" defer></script>
    {%- endif -%}
    {%- if request.page_type != 'cart' -%}
      <script>
        (function() {
          window.onpageshow = function() {

// We force re-freshing the cart content onpageshow, as most browsers will serve a cache copy when hitting the
// back button, which cause staled data
            document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {
              bubbles: true,
              detail: {
                scrollToTop: false
              }
            }));
          };
        })();
      </script>
    {%- endif -%}

    <!-- AUTO GENERATED BY CODE CUSTOMIZER -->
    {% include "code-customizer-header" %}
    <!-- END CODE CUSTOMIZER -->
    {% include 'upsellio' %}


    <script>
      const customerId = "{{ customer.id}}"
      async function post_data(url, data) {
        const response = await fetch(`https://api.leandow-technology.com/api/${url}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            "siteValue": "woohill"
          },
          body: JSON.stringify(data)
        });
        return response.json();
      }
    </script>

    <script>
      var scaaffCheck = false;
    </script>

    {% include 'dexter' %}

    {%- include 'orichi_multi_pixel' -%}
    {%- include "omega_multi_pixel" -%}


    {%- comment -%}REVIES{%- endcomment -%}
    {%- if request.page_type == 'product' -%}
      <link rel="stylesheet" href="{{'review.css' | asset_url}}">
    {%- endif -%}

    {%- comment -%}----Customers-------{%- endcomment -%}
    {%- if request.page_type contains 'customers' -%}
      <link rel="stylesheet" href="{{'account.css' | asset_url}}">
    {%- endif -%}
  </head>

  <body class="warehouse--v1 {% if settings.animation_image_zoom %}features--animate-zoom{% endif%} template-{{ request.page_type | handle }} {% if request.page_type contains '/' %}template-{{ request.page_type | split: '/' | last | handle }}{% endif %}" data-instant-intensity="viewport">

    {%- comment -%}Common SVG definitions that we are re-using in several places{%- endcomment -%}
    <svg class="visually-hidden">
      <linearGradient id="rating-star-gradient-half">
        <stop offset="50%" stop-color="var(--product-review-star-color)" />
        <stop
          offset="50%"
          stop-color="rgba(var(--text-color-rgb), .4)"
          stop-opacity="0.4" />
      </linearGradient>
    </svg>

    <a href="#main" class="visually-hidden skip-to-content">{{ 'general.accessibility.skip_to_content' | t }}</a>
    <span class="loading-bar"></span>

    {% section 'announcement-bar' %}

      {%- unless request.page_type == 'cart' -%}
      {%- comment -%}As required by Shopify rules, popup must be removed on cart page to remove distraction{%- endcomment -%}
      {% section 'popups' %}
    {%- endunless -%}
    {% section 'header' %}
    {% section 'surprise' %}

    <main id="main" role="main">
      {{ content_for_layout }}
      <limespot></limespot>
    </main>

    {% section 'static-text-with-icons' %}
    {% section 'footer' %}

    {% section 'foot-navbar' %}
    {% include 'gotop' %}

    <ul hidden>
      <li id="a11y-new-window-message">{{ 'general.accessibility.new_window' | t }}</li>
    </ul>


    <script>
      /* 从checkout主题返回theme时候，初始化checkoutStep */
      sessionStorage.setItem('checkoutStep', 'Checkout');
    </script>


    {%- render 'shenceTrack' -%}
    {%- render 'shenceTrackBanner' -%}
    {%- render 'shenceData' -%}
    <!-- Back in Stock helper snippet -->
    {%- render 'back-in-stock-helper' -%}
    <!-- End Back in Stock helper snippet -->


    {%- comment -%}---------------- FSL ---------------{%- endcomment -%}{%- capture tag_string -%}
    {%- endcapture -%}
      {%- for line_item in cart.items -%}
        {%- if forloop.first -%}
          {%- capture tag_string -%}{{ line_item.product.tags | join: ',' | downcase }}
        {%- endcapture -%}
      {%- else -%}
        {%- capture tag_string -%}
          {{ tag_string }},{{ line_item.product.tags | join: ',' | downcase }}{%- endcapture -%}
      {%- endif -%}
    {%- endfor -%}
    {%- assign all_tags = tag_string | split: ',' | uniq | join: ',' -%}
    <script
      type="text/javascript"
      defer="defer"
      id="linItemTags">
      var allProductTag=`{{ all_tags }}`
    </script>
    {%- comment -%}-------------- FSL END ---------------------{%- endcomment -%}

  </body>
</html>