{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>
<style>
  .share-item img {
    vertical-align: baseline;
  }

  .share-item {
    padding: 0 5px;
  }

  .footer-logo img {
    width: 100px;
  }

  .footer-accounts a {
    color: #000;
  }

  @media screen and (max-width: 749px) {
    .footer-block__details-content.list-unstyled {
      display: none;
    }

    .footer-block.grid__item.footer-block--menu:hover .footer-block__details-content {
      display: block;
    }

    button#Subscribe {
      width: 100%;
      height: 50px;
      margin-top: 20px;
      background: #000;
      color: #fff;
      outline: none;
      border: #000 1px solid;
      font-size: 18px;
      font-weight: 700;
    }

    .footer-menu {
      margin: 0 auto;
      max-width: 36rem;
      text-align: center;
      font-weight: 700;
    }
    .footer-menu div{
margin-top: 5px;
    }

    .footer-logo {
      margin: 10px auto 50px;
      text-align: center;
    }

  }

  @media screen and (min-width: 750px) {
    button#Subscribe {
      width: 100%;
      height: 50px;
      margin-top: 20px;
      background: #000;
      color: #fff;
      outline: none;
      border: #000 1px solid;
      font-size: 18px;
      font-weight: 700;
    }

    .ld-form {
      margin-top: 60px;
    }

    .footer-menu {
      margin: 0 auto;
    max-width: 900px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    font-weight: 700;
    }

    .footer-logo {
      margin: 20px auto 80px;
      text-align: center;
    }

  }
</style>
<footer class="footer color-{{ section.settings.color_scheme }} gradient">
  {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form ld-form' -%}
  <input type="hidden" name="contact[tags]" value="newsletter">
  <div class="newsletter-form__field-wrapper">
    <div class="field">
      <input id="NewsletterForm--{{ section.id }}" type="email" name="contact[email]" class="field__input"
        value="{{ form.email }}" aria-required="true" autocorrect="off" autocapitalize="off" autocomplete="email" {% if
        form.errors %} autofocus aria-invalid="true" aria-describedby="ContactFooter-error" {% elsif
        form.posted_successfully? %} aria-describedby="ContactFooter-success" {% endif %} placeholder="EMAIL ADDRESS"
        required>
      <label class="field__label" for="NewsletterForm--{{ section.id }}" style="color:rgb(150, 147, 147);">
        EMAIL ADDRESS
      </label>
    </div>
    <div>
      <button type="submit" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
        <!-- {% render 'icon-arrow' %} -->
        SUBSCRIBE
      </button>
    </div>
    {%- if form.errors -%}
    <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{
      form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
    {%- endif -%}
  </div>
  {%- if form.posted_successfully? -%}
  <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success"
    tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
  {%- endif -%}
  {%- endform -%}
  <div class="footer-menu">
    <div class="footer-accounts">
      {%- if shop.customer_accounts_enabled -%}
      <a href="{{ routes.account_login_url }}" class="">
        LOGIN
      </a>/
      <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
        class="">
        INFO
      </a>
      {%- endif -%}
    </div>
    <div>
      WOOHILL © 2022
    </div>
    <div class="share">
      <a href="http://" target="_blank" rel="noopener noreferrer" class="share-item">
        <svg t="1646017285631" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
          p-id="6311" width="24" height="24">
          <path
            d="M512 359.657143c-83.885714 0-152.342857 68.457143-152.342857 152.342857S428.114286 664.342857 512 664.342857 664.342857 595.885714 664.342857 512 595.885714 359.657143 512 359.657143zM968.914286 512c0-63.085714 0.571429-125.6-2.971429-188.571429-3.542857-73.142857-20.228571-138.057143-73.714286-191.542857-53.6-53.6-118.4-70.171429-191.542857-73.714285-63.085714-3.542857-125.6-2.971429-188.571428-2.971429-63.085714 0-125.6-0.571429-188.571429 2.971429-73.142857 3.542857-138.057143 20.228571-191.542857 73.714285C78.4 185.485714 61.828571 250.285714 58.285714 323.428571c-3.542857 63.085714-2.971429 125.6-2.971428 188.571429s-0.571429 125.6 2.971428 188.571429c3.542857 73.142857 20.228571 138.057143 73.714286 191.542857 53.6 53.6 118.4 70.171429 191.542857 73.714285 63.085714 3.542857 125.6 2.971429 188.571429 2.971429 63.085714 0 125.6 0.571429 188.571428-2.971429 73.142857-3.542857 138.057143-20.228571 191.542857-73.714285 53.6-53.6 70.171429-118.4 73.714286-191.542857 3.657143-62.971429 2.971429-125.485714 2.971429-188.571429zM512 746.4c-129.714286 0-234.4-104.685714-234.4-234.4S382.285714 277.6 512 277.6 746.4 382.285714 746.4 512 641.714286 746.4 512 746.4z m244-423.657143c-30.285714 0-54.742857-24.457143-54.742857-54.742857s24.457143-54.742857 54.742857-54.742857 54.742857 24.457143 54.742857 54.742857a54.674286 54.674286 0 0 1-54.742857 54.742857z"
            p-id="6312" fill="#2c2c2c"></path>
        </svg>
      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer" class="share-item">
        <svg t="1646017117021" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
          p-id="2747" width="24" height="24">
          <path d="M0 0h1024v1024H0z" fill="#FFFFFF" p-id="2748"></path>
          <path
            d="M909.994667 309.475556v-34.702223a241.208889 241.208889 0 0 1-45.511111-4.892444 222.321778 222.321778 0 0 1-71.68-29.184 23.324444 23.324444 0 0 0-4.664889-4.380445 192.170667 192.170667 0 0 1-69.518223-76.458666 238.933333 238.933333 0 0 1-22.755555-63.146667h-0.853333a209.635556 209.635556 0 0 1-3.470223-39.822222H534.357333c0 75.719111 0.284444 151.438222-0.341333 227.157333v396.458667a131.413333 131.413333 0 0 1-61.781333 109.624889 130.104889 130.104889 0 0 1-130.844445 4.608 160.824889 160.824889 0 0 1-39.822222-32.597334 124.586667 124.586667 0 0 1-29.980444-67.527111 133.575111 133.575111 0 0 1 13.482666-74.922666 113.777778 113.777778 0 0 1 28.444445-35.328 159.288889 159.288889 0 0 1 66.673777-31.914667 110.705778 110.705778 0 0 1 61.952 1.877333V476.216889c0-15.246222 0.455111-30.549333-0.341333-45.511111-0.512-12.231111 0-24.462222 0-36.693334a287.345778 287.345778 0 0 0-190.236444 39.822223 290.133333 290.133333 0 0 0-95.630223 95.630222 286.890667 286.890667 0 0 0 79.644445 384.398222l2.104889 1.820445a283.192889 283.192889 0 0 0 104.106666 45.056 332.288 332.288 0 0 0 80.611556 6.485333 264.533333 264.533333 0 0 0 148.992-50.517333 297.187556 297.187556 0 0 0 81.009778-91.192889 310.556444 310.556444 0 0 0 42.040889-134.030223c0.967111-12.856889 0.398222-25.713778 0.341333-38.570666a35145.955556 35145.955556 0 0 1-0.967111-289.678222 371.427556 371.427556 0 0 0 216.177778 67.811555V309.475556z"
            fill="#333333" p-id="2749"></path>
        </svg>

      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer" class="share-item">
        <svg t="1646017882825" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
          p-id="44974" width="26" height="26">
          <path
            d="M928 254.3c-30.6 13.2-63.9 22.7-98.2 26.4 35.4-21.1 62.3-54.4 75-94-32.7 19.5-69.7 33.8-108.2 41.2C765.4 194.6 721.1 174 672 174c-94.5 0-170.5 76.6-170.5 170.6 0 13.2 1.6 26.4 4.2 39.1-141.5-7.4-267.7-75-351.6-178.5-14.8 25.4-23.2 54.4-23.2 86.1 0 59.2 30.1 111.4 76 142.1-28-1.1-54.4-9-77.1-21.7v2.1c0 82.9 58.6 151.6 136.7 167.4-14.3 3.7-29.6 5.8-44.9 5.8-11.1 0-21.6-1.1-32.2-2.6C211 652 273.9 701.1 348.8 702.7c-58.6 45.9-132 72.9-211.7 72.9-14.3 0-27.5-0.5-41.2-2.1C171.5 822 261.2 850 357.8 850 671.4 850 843 590.2 843 364.7c0-7.4 0-14.8-0.5-22.2 33.2-24.3 62.3-54.4 85.5-88.2z"
            p-id="44975" fill="#2c2c2c"></path>
        </svg>
      </a>
      <a href="http://" target="_blank" rel="noopener noreferrer" class="share-item">
        <img
          src="https://cdn.shopifycdn.net/s/files/1/0619/9682/6882/files/1_1ac8fdbd-18bc-4be5-8d31-cb332d91d58c.jpg?v=1646019822"
          alt="" width="24px">
      </a>
    </div>
  </div>
  <div class="footer-logo">
    <img src="https://cdn.shopifycdn.net/s/files/1/0619/9682/6882/files/WPS.png?v=1646026786" alt="">
  </div>
</footer>

{% javascript %}
class LocalizationForm extends HTMLElement {
constructor() {
super();
this.elements = {
input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
button: this.querySelector('button'),
panel: this.querySelector('ul'),
};
this.elements.button.addEventListener('click', this.openSelector.bind(this));
this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
}

hidePanel() {
this.elements.button.setAttribute('aria-expanded', 'false');
this.elements.panel.setAttribute('hidden', true);
}

onContainerKeyUp(event) {
if (event.code.toUpperCase() !== 'ESCAPE') return;

this.hidePanel();
this.elements.button.focus();
}

onItemClick(event) {
event.preventDefault();
const form = this.querySelector('form');
this.elements.input.value = event.currentTarget.dataset.value;
if (form) form.submit();
}

openSelector() {
this.elements.button.focus();
this.elements.panel.toggleAttribute('hidden');
this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') ===
'false').toString());
}

closeSelector(event) {
const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
if (event.relatedTarget === null || shouldClose) {
this.hidePanel();
}
}
}

customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
"name": "t:sections.footer.name",
"blocks": [
{
"type": "link_list",
"name": "t:sections.footer.blocks.link_list.name",
"settings": [
{
"type": "text",
"id": "heading",
"default": "Quick links",
"label": "t:sections.footer.blocks.link_list.settings.heading.label",
"info": "t:sections.footer.blocks.link_list.settings.heading.info"
},
{
"type": "link_list",
"id": "menu",
"default": "footer",
"label": "t:sections.footer.blocks.link_list.settings.menu.label",
"info": "t:sections.footer.blocks.link_list.settings.menu.info"
}
]
},
{
"type": "text",
"name": "t:sections.footer.blocks.text.name",
"settings": [
{
"type": "text",
"id": "heading",
"default": "Heading",
"label": "t:sections.footer.blocks.text.settings.heading.label"
},
{
"type": "richtext",
"id": "subtext",
"default": "<p>Share store details, promotions, or brand content with your customers.</p>",
"label": "t:sections.footer.blocks.text.settings.subtext.label"
}
]
},
{
"type": "image",
"name": "Image",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "range",
"id": "image_width",
"min": 50,
"max": 200,
"step": 5,
"unit": "px",
"label": "Image width",
"default": 100
},
{
"type": "select",
"id": "alignment",
"label": "Image alignment on large screen",
"options": [
{
"value": "",
"label": "Left"
},
{
"value": "center",
"label": "Center"
},
{
"value": "right",
"label": "Right"
}
],
"default": "center"
}
]
}
],
"settings": [
{
"type": "select",
"id": "color_scheme",
"options": [
{
"value": "accent-1",
"label": "t:sections.footer.settings.color_scheme.options__1.label"
},
{
"value": "accent-2",
"label": "t:sections.footer.settings.color_scheme.options__2.label"
},
{
"value": "background-1",
"label": "t:sections.footer.settings.color_scheme.options__3.label"
},
{
"value": "background-2",
"label": "t:sections.footer.settings.color_scheme.options__4.label"
},
{
"value": "inverse",
"label": "t:sections.footer.settings.color_scheme.options__5.label"
}
],
"default": "background-1",
"label": "t:sections.footer.settings.color_scheme.label"
},
{
"type": "header",
"content": "t:sections.footer.settings.header__1.content",
"info": "t:sections.footer.settings.header__1.info"
},
{
"type": "checkbox",
"id": "newsletter_enable",
"default": true,
"label": "t:sections.footer.settings.newsletter_enable.label"
},
{
"type": "text",
"id": "newsletter_heading",
"default": "Subscribe to our emails",
"label": "t:sections.footer.settings.newsletter_heading.label"
},
{
"type": "header",
"content": "t:sections.footer.settings.header__2.content",
"info": "t:sections.footer.settings.header__2.info"
},
{
"type": "checkbox",
"id": "show_social",
"default": false,
"label": "t:sections.footer.settings.show_social.label"
},
{
"type": "header",
"content": "t:sections.footer.settings.header__3.content",
"info": "t:sections.footer.settings.header__4.info"
},
{
"type": "checkbox",
"id": "enable_country_selector",
"default": true,
"label": "t:sections.footer.settings.enable_country_selector.label"
},
{
"type": "header",
"content": "t:sections.footer.settings.header__5.content",
"info": "t:sections.footer.settings.header__6.info"
},
{
"type": "checkbox",
"id": "enable_language_selector",
"default": true,
"label": "t:sections.footer.settings.enable_language_selector.label"
},
{
"type": "header",
"content": "t:sections.footer.settings.header__7.content"
},
{
"type": "checkbox",
"id": "payment_enable",
"default": true,
"label": "t:sections.footer.settings.payment_enable.label"
}
],
"default": {
"blocks": [
{
"type": "link_list"
},
{
"type": "text"
}
]
}
}
{% endschema %}