<footer class="footer" data-section-id="{{ section.id }}" data-section-type="footer" role="contentinfo">
  <div>
    <div class="footer__wrapper">
      {%- capture pc_supported_sizes -%}{%- render 'image-size', sizes: '800,900,1000,1100,1200,1300,1400,1600,1800,2000,2200,2400,2600', image:  section.settings.image_pc -%}{%- endcapture -%}
      {%- assign pc_image_url = section.settings.image_pc | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      {%- capture mobile_supported_sizes -%}{%- render 'image-size', sizes: '300,400,5000,600,700,800,900,1000', image:  section.settings.image_mobile -%}{%- endcapture -%}
      {%- assign mobile_image_url = section.settings.image_mobile | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      {% if section.settings.image_pc != blank %}
        <img
          class="slideshow__image lazyload image--fade-in hidden-phone"
          data-src="{{ pc_image_url }}"
          data-widths="[{{ pc_supported_sizes }}]"
          data-sizes="auto"
        >
      {% endif %}
      {% if section.settings.image_mobile != blank %}
        <img
          class="slideshow__image lazyload image--fade-in hidden-tablet-and-up"
          data-src="{{ mobile_image_url }}"
          data-widths="[{{ mobile_supported_sizes }}]"
          data-sizes="auto"
        >
      {% endif %}
      {%- if section.blocks.size > 0 -%}
        <div class="footer-top ">
          <div class="footer__block-list container">
            <div class="footer__block-item footer__block-item--links">
              <div id="block-244b3e68-04f8-41ec-acf1-bff4665fe23b" class="footer__collapsible">
                <div class="footer__collapsible-content">
                  <ul class="footer__linklist list--unstyled" role="list">
                    <li>
                      <a
                        href="/account/login"
                        class="footer__title  h6 footer__link-item link shence_commodityView"
                        data-scenable="1"
                        data-expenable="0"
                        data-bindexp="0"
                        style="display: inline-block;border-bottom: 1px solid #FFF;"
                        >Sign in / Register</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            {%- for block in section.blocks -%}
              {%- assign menuindex = forloop.index -%}
              {%- case block.type -%}
                {%- when 'text' -%}
                  <div class="footer__block-item footer__block-item--text" {{ block.shopify_attributes }}>
                    <button
                      class="footer__title  h6"
                      disabled
                      aria-expanded="false"
                      aria-controls="block-{{ block.id }}"
                      data-action="toggle-collapsible"
                    >
                      <span>{{ block.settings.title | escape }}</span>
                      <span class="plus-button"></span>
                    </button>

                    <div id="block-{{ block.id }}" class="footer__collapsible">
                      <div class="footer__collapsible-content">
                        <div class="rte">
                          {{ block.settings.content }}
                        </div>
                      </div>
                    </div>
                  </div>

                {%- when 'links' -%}
                  {%- assign menu = linklists[block.settings.menu] -%}
                  {%- unless menu.empty? -%}
                    <div class="footer__block-item footer__block-item--links" {{ block.shopify_attributes }}>
                      <button
                        class="footer__title  h6"
                        disabled
                        aria-expanded="false"
                        aria-controls="block-{{ block.id }}"
                        data-action="toggle-collapsible"
                      >
                        <span>{{ menu.title }}</span>
                        <span class="plus-button"></span>
                      </button>

                      <div id="block-{{ block.id }}" class="footer__collapsible">
                        <div class="footer__collapsible-content">
                          <ul class="footer__linklist list--unstyled" role="list">
                            {%- for link in menu.links -%}
                              <li>
                                <a
                                  href="{{ link.url }}"
                                  class="footer__link-item link shence_commodityView"
                                  data-scenable="1"
                                  data-expenable="1"
                                  data-bindexp="1"
                                  data-sctype="mktClick"
                                  data-scdata='{"mkt_type":"footer","first_mkt_name":"","first_mkt_id":"{{ section.id }}","second_mkt_rank":"{{ menuindex }}","third_mkt_rank":"{{ forloop.index }}","mkt_material_url":"","mkt_material_name":"","commodity_spuid":"","commodity_skuid":"","commodity_name":"","original_price":"","current_price":"","currency_unit":"","mkt_tag":[]}'
                                >
                                  {{- link.title -}}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </div>
                  {%- endunless -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}
      <div class="footer-bottom">
        <aside class="footer__aside container">
          {%- assign currency_selector = false -%}
          {%- assign locale_selector = false -%}

          {%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
            {%- assign currency_selector = true -%}
          {%- endif -%}

          {%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
            {%- assign locale_selector = true -%}
          {%- endif -%}

          <div class="footer__aside-item footer__aside-item--localization {% if currency_selector == false and locale_selector == false %}hidden-pocket{% endif %}">
            {%- if locale_selector or currency_selector -%}
              {%- form 'localization', id: 'localization_form_footer', class: 'footer__localization-form' -%}
                {%- if locale_selector -%}
                  <div class="footer__localization-form-item">
                    <input type="hidden" name="locale_code" value="{{ form.current_locale.iso_code }}">
                    <span class="visually-hidden">{{ 'footer.general.language' | t }}</span>

                    <div class="value-picker-wrapper">
                      <button
                        type="button"
                        class="select-button select-button--mini"
                        aria-haspopup="true"
                        aria-expanded="false"
                        aria-controls="footer-locale-picker"
                        data-action="open-value-picker"
                      >
                        {{- form.current_locale.endonym_name | capitalize -}}
                        {%- render 'icon', icon: 'arrow-bottom' -%}
                      </button>

                      <div
                        id="footer-locale-picker"
                        class="value-picker value-picker--small"
                        data-picker-position="top"
                        aria-hidden="true"
                      >
                        {% render 'icon', icon: 'nav-triangle-borderless' %}

                        <div class="value-picker__inner">
                          <header class="value-picker__header">
                            <span class="value-picker__title text--strong">{{ 'footer.general.language' | t }}</span>
                            <button
                              type="button"
                              class="value-picker__close"
                              data-action="close-value-picker"
                              aria-controls="footer-locale-picker"
                              aria-label="{{ 'general.accessibility.close' | t }}"
                            >
                              {% render 'icon', icon: 'close' %}
                            </button>
                          </header>

                          <ul class="value-picker__choice-list" role="list">
                            {%- for locale in form.available_locales -%}
                              <li class="value-picker__choice-list-item">
                                <button
                                  type="submit"
                                  name="locale_code"
                                  class="value-picker__choice-item"
                                  value="{{ locale.iso_code }}"
                                  {% if locale.iso_code == form.current_locale.iso_code %}
                                    aria-current="true"
                                  {% endif %}
                                >
                                  {{- locale.endonym_name | capitalize -}}
                                </button>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                {%- endif -%}

                {%- if currency_selector -%}
                  <div class="footer__localization-form-item">
                    <input type="hidden" name="currency_code" value="{{ form.current_currency.iso_code }}">
                    <span class="visually-hidden">{{ 'footer.general.currency' | t }}</span>

                    <div class="value-picker-wrapper">
                      <button
                        type="button"
                        class="select-button select-button--mini"
                        aria-haspopup="true"
                        aria-expanded="false"
                        aria-controls="footer-currency-picker"
                        data-action="open-value-picker"
                      >
                        {{ form.current_currency.iso_code }}
                        {% if form.current_currency.symbol %}{{ form.current_currency.symbol }}{% endif %}
                        {%- render 'icon', icon: 'arrow-bottom' -%}
                      </button>

                      <div
                        id="footer-currency-picker"
                        class="value-picker value-picker--auto value-picker--small"
                        data-picker-position="top"
                        aria-hidden="true"
                      >
                        {% render 'icon', icon: 'nav-triangle-borderless' %}

                        <div class="value-picker__inner">
                          <header class="value-picker__header">
                            <span class="value-picker__title text--strong">{{ 'footer.general.currency' | t }}</span>
                            <button
                              type="button"
                              class="value-picker__close"
                              data-action="close-value-picker"
                              aria-controls="footer-currency-picker"
                              aria-label="{{ 'general.accessibility.close' | t }}"
                            >
                              {% render 'icon', icon: 'close' %}
                            </button>
                          </header>

                          <ul class="value-picker__choice-list" role="list">
                            {%- for currency in form.available_currencies -%}
                              <li class="value-picker__choice-list-item">
                                <button
                                  type="submit"
                                  name="currency_code"
                                  class="value-picker__choice-item"
                                  value="{{ currency.iso_code }}"
                                  {% if currency.iso_code == form.current_currency.iso_code %}
                                    aria-current="true"
                                  {% endif %}
                                >
                                  {{ currency.iso_code }}
                                  {% if currency.symbol %}{{ currency.symbol }}{% endif %}
                                </button>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                {%- endif -%}
              {%- endform -%}
            {%- endif -%}

            {%- capture copyright_info -%}© {{ 'now' | date: '%Y' }} {{ shop.name }}<br>{{ powered_by_link }}{%- endcapture -%}
            <p class="hidden-pocket">{{ copyright_info }}</p>
          </div>

          {%- if section.settings.show_social_media -%}
            {%- capture social_media -%}{% render 'social-media', show_social_media_name: false %}{%- endcapture -%}

            {%- if social_media != blank -%}
              <div class="footer__aside-item footer__aside-item--social">
                <p class="footer__aside-title">{{ 'footer.general.follow_us' | t }}</p>

                {{ social_media }}
              </div>
            {%- endif -%}
          {%- endif -%}

          {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
            <div class="footer__aside-item footer__aside-item--payment">
              <p class="footer__aside-title">{{ 'footer.general.we_accept' | t }}</p>

              <div class="payment-list">
                {% for type in shop.enabled_payment_types %}
                  {%- if type == 'paypal'
                    or type == 'unionpay'
                    or type == 'visa'
                    or type == 'american_express'
                    or type == 'maestro'
                    or type == 'master'
                    or type == 'diners_club'
                    or type == 'discover'
                    or type == 'jcb'
                    or type == 'trustly'
                  %}
                    {{ type | payment_type_svg_tag: class: 'payment-list__item' }}
                  {%- endif -%}
                {% endfor %}
                <svg
                  style="background: #FFFFFF"
                  class="payment-list__item"
                  version="1.1"
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  x="0"
                  y="0"
                  viewBox="0 0 468 222.5"
                  style="enable-background:new 0 0 468 222.5"
                  xml:space="preserve"
                >
                  <style>.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#635bff}</style><path class="st0" d="M414 113.4c0-25.6-12.4-45.8-36.1-45.8-23.8 0-38.2 20.2-38.2 45.6 0 30.1 17 45.3 41.4 45.3 11.9 0 20.9-2.7 27.7-6.5v-20c-6.8 3.4-14.6 5.5-24.5 5.5-9.7 0-18.3-3.4-19.4-15.2h48.9c0-1.3.2-6.5.2-8.9zm-49.4-9.5c0-11.3 6.9-16 13.2-16 6.1 0 12.6 4.7 12.6 16h-25.8zM301.1 67.6c-9.8 0-16.1 4.6-19.6 7.8l-1.3-6.2h-22v116.6l25-5.3.1-28.3c3.6 2.6 8.9 6.3 17.7 6.3 17.9 0 34.2-14.4 34.2-46.1-.1-29-16.6-44.8-34.1-44.8zm-6 68.9c-5.9 0-9.4-2.1-11.8-4.7l-.1-37.1c2.6-2.9 6.2-4.9 11.9-4.9 9.1 0 15.4 10.2 15.4 23.3 0 13.4-6.2 23.4-15.4 23.4zM223.8 61.7l25.1-5.4V36l-25.1 5.3zM223.8 69.3h25.1v87.5h-25.1zM196.9 76.7l-1.6-7.4h-21.6v87.5h25V97.5c5.9-7.7 15.9-6.3 19-5.2v-23c-3.2-1.2-14.9-3.4-20.8 7.4zM146.9 47.6l-24.4 5.2-.1 80.1c0 14.8 11.1 25.7 25.9 25.7 8.2 0 14.2-1.5 17.5-3.3V135c-3.2 1.3-19 5.9-19-8.9V90.6h19V69.3h-19l.1-21.7zM79.3 94.7c0-3.9 3.2-5.4 8.5-5.4 7.6 0 17.2 2.3 24.8 6.4V72.2c-8.3-3.3-16.5-4.6-24.8-4.6C67.5 67.6 54 78.2 54 95.9c0 27.6 38 23.2 38 35.1 0 4.6-4 6.1-9.6 6.1-8.3 0-18.9-3.4-27.3-8v23.8c9.3 4 18.7 5.7 27.3 5.7 20.8 0 35.1-10.3 35.1-28.2-.1-29.8-38.2-24.5-38.2-35.7z"/>
                </svg>
                    <svg class="payment-list__item" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" style=" background: #FFF;">
              <path d="M116.9 158.5c-7.5 8.9-19.5 15.9-31.5 14.9-1.5-12 4.4-24.8 11.3-32.6 7.5-9.1 20.6-15.6 31.3-16.1 1.2 12.4-3.7 24.7-11.1 33.8m10.9 17.2c-17.4-1-32.3 9.9-40.5 9.9-8.4 0-21-9.4-34.8-9.1-17.9.3-34.5 10.4-43.6 26.5-18.8 32.3-4.9 80 13.3 106.3 8.9 13 19.5 27.3 33.5 26.8 13.3-.5 18.5-8.6 34.5-8.6 16.1 0 20.8 8.6 34.8 8.4 14.5-.3 23.6-13 32.5-26 10.1-14.8 14.3-29.1 14.5-29.9-.3-.3-28-10.9-28.3-42.9-.3-26.8 21.9-39.5 22.9-40.3-12.5-18.6-32-20.6-38.8-21.1m100.4-36.2v194.9h30.3v-66.6h41.9c38.3 0 65.1-26.3 65.1-64.3s-26.4-64-64.1-64h-73.2zm30.3 25.5h34.9c26.3 0 41.3 14 41.3 38.6s-15 38.8-41.4 38.8h-34.8V165zm162.2 170.9c19 0 36.6-9.6 44.6-24.9h.6v23.4h28v-97c0-28.1-22.5-46.3-57.1-46.3-32.1 0-55.9 18.4-56.8 43.6h27.3c2.3-12 13.4-19.9 28.6-19.9 18.5 0 28.9 8.6 28.9 24.5v10.8l-37.8 2.3c-35.1 2.1-54.1 16.5-54.1 41.5.1 25.2 19.7 42 47.8 42zm8.2-23.1c-16.1 0-26.4-7.8-26.4-19.6 0-12.3 9.9-19.4 28.8-20.5l33.6-2.1v11c0 18.2-15.5 31.2-36 31.2zm102.5 74.6c29.5 0 43.4-11.3 55.5-45.4L640 193h-30.8l-35.6 115.1h-.6L537.4 193h-31.6L557 334.9l-2.8 8.6c-4.6 14.6-12.1 20.3-25.5 20.3-2.4 0-7-.3-8.9-.5v23.4c1.8.4 9.3.7 11.6.7z"></path>
            </svg>
              </div>
            </div>
          {%- endif -%}

          <div class="footer__aside-item footer__aside-item--copyright hidden-lap-and-up">
            <p>{{ copyright_info }}</p>
          </div>
        </aside>
      </div>
    </div>
  </div>

  {%- comment -%}
    In order to reduce the number of static sections, we were asked by Shopify team to move the cookie bar to the footer instead of its own
    section. This feels a bit hacky but it works :).
  {%- endcomment -%}

  {%- if section.settings.show_cookie_bar -%}
    <aside class="cookie-bar" aria-hidden="true">
      <div class="container">
        <div class="cookie-bar__inner">
          <div class="cookie-bar__text rte">
            {{- section.settings.text -}}
          </div>

          {%- if section.settings.accept_button != blank -%}
            <button type="button" class="cookie-bar__button button button--secondary" data-action="accept-terms">
              {{ section.settings.accept_button | escape }}
            </button>
          {%- endif -%}
        </div>
      </div>
    </aside>
  {%- endif -%}
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
		{
			"type":"image_picker",
			"id":"image_pc",
			"label":"PC图片"
		},
		{
			"type":"image_picker",
			"id":"image_mobile",
			"label":"mobile图片"
		},
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "Show social media",
      "info": "Make sure to have properly configured your social media in the theme settings.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Cookie bar"
    },
    {
      "type": "checkbox",
      "id": "show_cookie_bar",
      "label": "Show cookie bar",
      "default": false
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this bar to show information about your cookie policy.</p>"
    },
    {
      "type": "text",
      "id": "accept_button",
      "label": "Accept button",
      "default": "Accept"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About our store"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.</p>"
        }
      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items."
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Subheading",
          "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text",
        "settings": {}
      },
      {
        "type": "links",
        "settings": {
          "menu": "footer"
        }
      },
      {
        "type": "newsletter",
        "settings": {}
      }
    ]
  }
}
{% endschema %}
