{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>
<style>
  .share-item img {
    vertical-align: baseline;
  }

  .share-item {
    padding: 0 5px;
  }

  .footer-logo img {
    width: 100px;
  }

  .footer-accounts a {
    color: #000;
  }

  @media screen and (max-width: 749px) {
    .footer-block__details-content.list-unstyled {
      display: none;
    }

    .footer-block.grid__item.footer-block--menu:hover .footer-block__details-content {
      display: block;
    }

    button#Subscribe {
      width: 100%;
      height: 50px;
      margin-top: 20px;
      background: #000;
      color: #fff;
      outline: none;
      border: #000 1px solid;
      font-size: 18px;
      font-weight: 700;
    }

    .footer-menu {
      margin: 0 auto;
      max-width: 36rem;
      text-align: center;
      font-weight: 700;
    }
    .footer-menu div{
margin-top: 5px;
    }

    .footer-logo {
      margin: 10px auto 50px;
      text-align: center;
    }

  }

  @media screen and (min-width: 750px) {
    button#Subscribe {
      width: 100%;
      height: 50px;
      margin-top: 20px;
      background: #000;
      color: #fff;
      outline: none;
      border: #000 1px solid;
      font-size: 18px;
      font-weight: 700;
    }

    .ld-form {
      margin-top: 60px;
    }

    .footer-menu {
      margin: 0 auto;
    max-width: 900px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    font-weight: 700;
    }

    .footer-logo {
      margin: 20px auto 80px;
      text-align: center;
    }

  }
</style>
<footer class="footer color-{{ section.settings.color_scheme }} gradient">
  {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form ld-form' -%}
  <input type="hidden" name="contact[tags]" value="newsletter">
  <div class="newsletter-form__field-wrapper">
    <div class="field">
      <input id="NewsletterForm--{{ section.id }}" type="email" name="contact[email]" class="field__input"
        value="{{ form.email }}" aria-required="true" autocorrect="off" autocapitalize="off" autocomplete="email" {% if
        form.errors %} autofocus aria-invalid="true" aria-describedby="ContactFooter-error" {% elsif
        form.posted_successfully? %} aria-describedby="ContactFooter-success" {% endif %} placeholder="EMAIL ADDRESS"
        required>
      <label class="field__label" for="NewsletterForm--{{ section.id }}" style="color:rgb(150, 147, 147);">
        EMAIL ADDRESS
      </label>
    </div>
    <div>
      <button type="submit" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
        <!-- {% render 'icon-arrow' %} -->
        SUBSCRIBE
      </button>
    </div>
    {%- if form.errors -%}
    <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{
      form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
    {%- endif -%}
  </div>
  {%- if form.posted_successfully? -%}
  <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success"
    tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
  {%- endif -%}
  {%- endform -%}
  <div class="footer-menu">
    <div class="footer-accounts">
      {%- if shop.customer_accounts_enabled -%}
      <a href="{{ routes.account_login_url }}" class="">
        LOGIN
      </a>/
      <a href="/pages/info"
        class="">
        INFO
      </a>
      {%- endif -%}
    </div>
    <div>
      WOOHILL © 2022
    </div>
    <div class="share">
      <a href="https://www.instagram.com/woohill_official/" target="_blank" rel="noopener noreferrer" class="share-item">
        <svg t="1648803837069" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1801" width="24" height="24"><path d="M725.333333 341.333333a42.666667 42.666667 0 1 1 0-85.333333 42.666667 42.666667 0 0 1 0 85.333333zM341.333333 170.666667a170.666667 170.666667 0 0 0-170.666666 170.666666v341.333334a170.666667 170.666667 0 0 0 170.666666 170.666666h341.333334a170.666667 170.666667 0 0 0 170.666666-170.666666V341.333333a170.666667 170.666667 0 0 0-170.666666-170.666666H341.333333z m0-85.333334h341.333334a256 256 0 0 1 256 256v341.333334a256 256 0 0 1-256 256H341.333333a256 256 0 0 1-256-256V341.333333a256 256 0 0 1 256-256z m90.88 624.554667a42.666667 42.666667 0 0 1 31.957334-79.104 128 128 0 1 0-70.869334-70.826667 42.666667 42.666667 0 1 1-79.104 32 213.333333 213.333333 0 1 1 118.058667 117.930667z" p-id="1802"></path></svg>
      </a>
      <a href="https://www.tiktok.com/@woohill_official" target="_blank" rel="noopener noreferrer" class="share-item">
        <svg t="1648803858272" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2047" width="24" height="24"><path d="M384 853.333333a42.666667 42.666667 0 0 1 0 85.333334H341.333333a256 256 0 0 1-256-256v-42.666667a42.666667 42.666667 0 0 1 85.333334 0v42.666667a170.666667 170.666667 0 0 0 170.666666 170.666666h42.666667z m-213.333333-341.333333a42.666667 42.666667 0 0 1-85.333334 0V341.333333a256 256 0 0 1 256-256h341.333334a256 256 0 0 1 256 256v341.333334a256 256 0 0 1-256 256h-170.666667a42.666667 42.666667 0 0 1 0-85.333334h170.666667a170.666667 170.666667 0 0 0 170.666666-170.666666V341.333333a170.666667 170.666667 0 0 0-170.666666-170.666666H341.333333a170.666667 170.666667 0 0 0-170.666666 170.666666v170.666667z m426.666666-213.333333a85.333333 85.333333 0 0 0 85.333334 85.333333h25.6c9.386667 0 17.066667 7.68 17.066666 17.066667v51.2a17.066667 17.066667 0 0 1-17.066666 17.066666H682.666667a169.898667 169.898667 0 0 1-85.333334-22.826666V618.666667a149.333333 149.333333 0 1 1-149.333333-149.333334h4.266667c9.386667 0 17.066667 7.68 17.066666 17.066667v51.2a17.066667 17.066667 0 0 1-17.066666 17.066667h-4.266667a64 64 0 1 0 64 64V273.066667c0-9.386667 7.68-17.066667 17.066667-17.066667h51.2c9.386667 0 17.066667 7.68 17.066666 17.066667V298.666667z" p-id="2048"></path></svg>
      </a>
      <a href="https://www.youtube.com/channel/UCd5jtwsRpOUC9sDibPp3rWg" target="_blank" rel="noopener noreferrer" class="share-item">
        <svg t="1648803886994" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2293" width="24" height="24"><path d="M469.333333 565.674667L563.2 512 469.333333 458.325333v107.349334z m190.208-94.72a48 48 0 0 1 0 82.090666l-203.52 122.794667a47.402667 47.402667 0 0 1-65.28-16.426667A48.042667 48.042667 0 0 1 384 634.794667V389.162667C384 362.752 405.333333 341.333333 431.573333 341.333333c8.618667 0 17.066667 2.346667 24.490667 6.826667l203.52 122.794667zM426.666667 768a42.666667 42.666667 0 0 1 0 85.333333H298.666667a213.333333 213.333333 0 0 1-213.333334-213.333333V384a213.333333 213.333333 0 0 1 213.333334-213.333333h426.666666a213.333333 213.333333 0 0 1 213.333334 213.333333v256a213.333333 213.333333 0 0 1-213.333334 213.333333h-128a42.666667 42.666667 0 0 1 0-85.333333h128a128 128 0 0 0 128-128V384a128 128 0 0 0-128-128H298.666667a128 128 0 0 0-128 128v256a128 128 0 0 0 128 128h128z" p-id="2294"></path></svg>
      </a>
      <a href="https://www.facebook.com/Woohillofficial/" target="_blank" rel="noopener noreferrer" class="share-item">
        <img
          src="https://cdn.shopifycdn.net/s/files/1/0619/9682/6882/files/1_1ac8fdbd-18bc-4be5-8d31-cb332d91d58c.jpg?v=1646019822"
          alt="" width="24px">
      </a>
    </div>
  </div>
  <div class="footer-logo">
    <img src="https://cdn.shopifycdn.net/s/files/1/0619/9682/6882/files/WPS.png?v=1646026786" alt="">
  </div>
</footer>

{% javascript %}
class LocalizationForm extends HTMLElement {
constructor() {
super();
this.elements = {
input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
button: this.querySelector('button'),
panel: this.querySelector('ul'),
};
this.elements.button.addEventListener('click', this.openSelector.bind(this));
this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
}

hidePanel() {
this.elements.button.setAttribute('aria-expanded', 'false');
this.elements.panel.setAttribute('hidden', true);
}

onContainerKeyUp(event) {
if (event.code.toUpperCase() !== 'ESCAPE') return;

this.hidePanel();
this.elements.button.focus();
}

onItemClick(event) {
event.preventDefault();
const form = this.querySelector('form');
this.elements.input.value = event.currentTarget.dataset.value;
if (form) form.submit();
}

openSelector() {
this.elements.button.focus();
this.elements.panel.toggleAttribute('hidden');
this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') ===
'false').toString());
}

closeSelector(event) {
const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
if (event.relatedTarget === null || shouldClose) {
this.hidePanel();
}
}
}

customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
"name": "t:sections.footer.name",
"blocks": [
{
"type": "link_list",
"name": "t:sections.footer.blocks.link_list.name",
"settings": [
{
"type": "text",
"id": "heading",
"default": "Quick links",
"label": "t:sections.footer.blocks.link_list.settings.heading.label",
"info": "t:sections.footer.blocks.link_list.settings.heading.info"
},
{
"type": "link_list",
"id": "menu",
"default": "footer",
"label": "t:sections.footer.blocks.link_list.settings.menu.label",
"info": "t:sections.footer.blocks.link_list.settings.menu.info"
}
]
},
{
"type": "text",
"name": "t:sections.footer.blocks.text.name",
"settings": [
{
"type": "text",
"id": "heading",
"default": "Heading",
"label": "t:sections.footer.blocks.text.settings.heading.label"
},
{
"type": "richtext",
"id": "subtext",
"default": "<p>Share store details, promotions, or brand content with your customers.</p>",
"label": "t:sections.footer.blocks.text.settings.subtext.label"
}
]
},
{
"type": "image",
"name": "Image",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "range",
"id": "image_width",
"min": 50,
"max": 200,
"step": 5,
"unit": "px",
"label": "Image width",
"default": 100
},
{
"type": "select",
"id": "alignment",
"label": "Image alignment on large screen",
"options": [
{
"value": "",
"label": "Left"
},
{
"value": "center",
"label": "Center"
},
{
"value": "right",
"label": "Right"
}
],
"default": "center"
}
]
}
],
"settings": [
{
"type": "select",
"id": "color_scheme",
"options": [
{
"value": "accent-1",
"label": "t:sections.footer.settings.color_scheme.options__1.label"
},
{
"value": "accent-2",
"label": "t:sections.footer.settings.color_scheme.options__2.label"
},
{
"value": "background-1",
"label": "t:sections.footer.settings.color_scheme.options__3.label"
},
{
"value": "background-2",
"label": "t:sections.footer.settings.color_scheme.options__4.label"
},
{
"value": "inverse",
"label": "t:sections.footer.settings.color_scheme.options__5.label"
}
],
"default": "background-1",
"label": "t:sections.footer.settings.color_scheme.label"
},
{
"type": "header",
"content": "t:sections.footer.settings.header__1.content",
"info": "t:sections.footer.settings.header__1.info"
},
{
"type": "checkbox",
"id": "newsletter_enable",
"default": true,
"label": "t:sections.footer.settings.newsletter_enable.label"
},
{
"type": "text",
"id": "newsletter_heading",
"default": "Subscribe to our emails",
"label": "t:sections.footer.settings.newsletter_heading.label"
},
{
"type": "header",
"content": "t:sections.footer.settings.header__2.content",
"info": "t:sections.footer.settings.header__2.info"
},
{
"type": "checkbox",
"id": "show_social",
"default": false,
"label": "t:sections.footer.settings.show_social.label"
},
{
"type": "header",
"content": "t:sections.footer.settings.header__3.content",
"info": "t:sections.footer.settings.header__4.info"
},
{
"type": "checkbox",
"id": "enable_country_selector",
"default": true,
"label": "t:sections.footer.settings.enable_country_selector.label"
},
{
"type": "header",
"content": "t:sections.footer.settings.header__5.content",
"info": "t:sections.footer.settings.header__6.info"
},
{
"type": "checkbox",
"id": "enable_language_selector",
"default": true,
"label": "t:sections.footer.settings.enable_language_selector.label"
},
{
"type": "header",
"content": "t:sections.footer.settings.header__7.content"
},
{
"type": "checkbox",
"id": "payment_enable",
"default": true,
"label": "t:sections.footer.settings.payment_enable.label"
}
],
"default": {
"blocks": [
{
"type": "link_list"
},
{
"type": "text"
}
]
}
}
{% endschema %}